@model IReadOnlyList<Moonglade.Model.PostListItem>

@section meta
{
    <meta name="robots" content="noindex, nofollow" />
}

@if (null != ViewBag.IsServerError && ViewBag.IsServerError)
{
    <partial name="_ServerErrorMessage" />
}
else
{
    <h3>
        @Localizer["Search Result"]
    </h3>
    <hr />
    if (!Model.Any())
    {
        <div class="alert alert-info">
            @Localizer["No Matching Result"]
        </div>
    }
    else
    {
        foreach (var item in Model.OrderByDescending(s => s.PubDateUtc))
        {
            <partial name="_PostListItem" model="item" />
            <div class="mb-4 d-none d-md-block"></div>
            <hr class="d-none d-md-block" />
        }
    }
}