@model IReadOnlyList<Moonglade.Model.PostDigest>

@section meta
{
    <meta name="robots" content="noindex, nofollow" />
}

<h3>
    @Localizer["Search Result"]
</h3>
<hr />
@if (!Model.Any())
{
    <div class="alert alert-info">
        @Localizer["No Matching Result"]
    </div>
}
else
{
    foreach (var item in Model.OrderByDescending(s => s.PubDateUtc))
    {
        <partial name="_PostListEntry" model="item" />
        <div class="mb-4 d-none d-md-block"></div>
        <hr class="d-none d-md-block" />
    }
}

<partial name="_LightSwitch" />