@model IEnumerable<Moonglade.Core.DegreeTag>

@foreach (var item in Model)
{
    <a asp-controller="Home" asp-action="TagList" asp-route-normalizedName="@item.NormalizedName" rel="@item.Degree" class="d-inline-block btn btn-sm btn-accent mb-2">@item.DisplayName</a>
}