@model IReadOnlyList<Moonglade.Model.TagInfo>

<div class="toptags-list">
    @foreach (var item in Model)
    {
        <a asp-controller="Tags" asp-action="List" asp-route-normalizedName="@item.NormalizedTagName" rel="@item.TagCount">@item.TagName</a>
    }
</div>