<div class="empty-recycle">
    <img src="~/images/empty_recycle.svg" class="img-fluid" />
    <div class="text-center">
        <h4>No Posts</h4>
        <p class="text-muted">no items to show</p>
    </div>
</div>