@{
    var currentAction = ViewContext.RouteData?.Values["action"]?.ToString();
}

<h3>
    Posts
    <a class="btn btn-outline-success float-right" asp-controller="Post" asp-action="Create">
        <span class="icon-plus"></span>
        New
    </a>
</h3>
<hr />

<ul class="nav nav-tabs">
    <li role="presentation" class="nav-item nav-item-non-margin">
        <a class="nav-link @(currentAction == "Manage" ? "active" : null)" asp-controller="Post" asp-action="Manage">Published</a>
    </li>
    <li role="presentation" class="nav-item nav-item-non-margin">
        <a class="nav-link @(currentAction == "Draft" ? "active" : null)" asp-controller="Post" asp-action="Draft">Drafts</a>
    </li>
    <li role="presentation" class="nav-item nav-item-non-margin">
        <a class="nav-link @(currentAction == "RecycleBin" ? "active" : null)" asp-controller="Post" asp-action="RecycleBin">Recycle Bin</a>
    </li>
    <li role="presentation" class="nav-item nav-item-non-margin">
        <a class="nav-link @(currentAction == "Insights" ? "active" : null)" asp-controller="Post" asp-action="Insights">Insights</a>
    </li>
</ul>
<div class="mb-3"></div>