root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,cshtml,js,mjs,css,json,yml,yaml}]
indent_style = space
indent_size = 4

[*.{csproj,props,targets,slnx}]
indent_style = tab
indent_size = 4

[*.md]
trim_trailing_whitespace = false
