@{
    Layout = "_LayoutAdmin";
}

@model IReadOnlyList<Moonglade.Data.Entities.Tag>

@{
    ViewBag.Title = "Manage Tags";
}

@section scripts{
    <script>
        $(".btn-delete").click(function () {
            var tagid = $(this).data("tagid");
            var cfm = confirm("Confirm to delete tag: " + $(this).text().trim());
            if (cfm) {
                $.post("Delete",
                    {
                        tagId: tagid
                    },
                    function (data) {
                        $("#li-tag-" + data).hide();
                    });
            }
        });

        $(".span-tagcontent-editable").blur(function () {
            var tagId = $(this).data("tagid");
            var newTagName = $(this).text().trim();
            $.post("Update",
                {
                    tagId: tagId,
                    newTagName: newTagName
                },
                function (data) {
                    $("#li-tag-" + data.tagId).addClass("updated");
                });
        });
    </script>
}

<h3>
    Manage Tags
</h3>
<hr />

<ul class="list-unstyled ul-tag-mgr">
    @foreach (var tag in Model.OrderBy(model => model.DisplayName))
    {
        <li id="li-tag-@tag.Id">
            <span class="span-tagcontent-editable" contenteditable="true" data-tagid="@tag.Id">@tag.DisplayName</span>
            <a class="btn-delete" data-tagid="@tag.Id">
                <i class="fas fa-times"></i>
                <span class="d-none">@tag.DisplayName</span>
            </a>
        </li>
    }
</ul>