@inject IWebHostEnvironment WebHostEnvironment

<environment exclude="Production">
    <div class="environment-info bg-danger text-light text-center p-1">
        Moonglade is running in @WebHostEnvironment.EnvironmentName environment
    </div>
</environment>