@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment _webHostEnvironment

<environment exclude="Production">
    <div class="environment-info bg-danger text-light fixed-bottom text-center p-1 start-50 translate-middle-x d-print-none">
        You are accessing @_webHostEnvironment.EnvironmentName environment, data and changes may be isolated from production.
    </div>
</environment>