<div class="lightswitch d-print-none btn-group dropup">
    <button type="button" class="btn btn-sm btn-outline-accent dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        @SharedLocalizer["Theme"]
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="javascript:;" data-theme="auto"><i class="bi-circle-half"></i> @SharedLocalizer["Auto"]</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="javascript:;" data-theme="light"><i class="bi-brightness-high"></i> @SharedLocalizer["Light"]</a></li>
        <li><a class="dropdown-item" href="javascript:;" data-theme="dark"><i class="bi-moon"></i> @SharedLocalizer["Dark"]</a></li>
    </ul>
</div>