<button aria-label="Theme toggle button" class="lightswitch btn btn-sm btn-outline-accent d-print-none" onclick="theme.toggleTheme()">
    <i class="lighticon lighticon-light bi-brightness-high"></i>
    <i class="lighticon lighticon-dark bi-moon"></i>
</button>