@using Moonglade.Web.PagedList
@model BasePagedList<Moonglade.Core.PostFeature.PostDigest>

@if (Model.Count == 0)
{
    <div class="alert alert-info">
        @SharedLocalizer["No Posts Found"]
    </div>
    <div class="mb-4"></div>
}
else
{
    foreach (var item in Model)
    {
        <partial name="_PostListEntry" model="item" />
    }

    @Html.PagedListPager(Model, page => ViewData["sortBy"] == null ? $"?p={page}" : $"?p={page}&sortBy={ViewData["sortBy"]}", new()
    {
        UlElementClasses = new[] { "pagination justify-content-end" },
        MaximumPageNumbersToDisplay = 5,
        DisplayEllipsesWhenNotShowingAllPageNumbers = false
    })
}