<div class="toast-container position-fixed p-5 bottom-0 start-50 translate-middle-x" id="toastPlacement" style="z-index: 996">
    <div id="liveToast" class="toast hide align-items-center text-white border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body" id="blogtoast-message">

            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>