<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target name="ownfile" xsi:type="File"
            fileName="${basedir}\..\..\LogFiles\Application\${shortdate}.log"
            encoding="utf-8"
            layout="${longdate}|${machinename}|${uppercase:${level}}|${logger}|${message}${when:when=length('${exception}')>0:Inner=,}${exception:format=tostring}${when:when=length('${aspnet-request-method}')>0:Inner=,}${aspnet-request-method} ${aspnet-request-url}${when:when=length('${aspnet-mvc-action}')>0:Inner=,}${aspnet-mvc-action}${when:when=length('${aspnet-request-ip}')>0:Inner=,}${aspnet-request-ip}" />
  </targets>
  <rules>
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
    <logger name="*" minlevel="Info" writeTo="ownfile" />
  </rules>
</nlog>