<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="logs/internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
    <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
  </extensions>

  <targets async="true">
    <target type="ApplicationInsightsTarget" name="ai">
      <layout xsi:type="JsonLayout">
        <attribute name="longdate" layout="${longdate}" />
        <attribute name="machinename" layout="${machinename}"/>
        <attribute name="level" layout="${uppercase:${level}}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=tostring}" />
        <attribute name="aspnet-request-method" layout="${aspnet-request-method}" />
        <attribute name="aspnet-traceidentifier" layout="${aspnet-traceidentifier}" />
        <attribute name="aspnet-request-ip" layout="${aspnet-request-ip}" />
        <attribute name="aspnet-request-url" layout="${aspnet-request-url}" />
        <attribute name="aspnet-mvc-action" layout="${aspnet-mvc-action}" />
      </layout>
    </target>
  </targets>
  <rules>
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
    <logger name="*" minlevel="Warn" writeTo="ai" />
  </rules>
</nlog>