<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->

	<!-- Fix issue https://github.com/EdiWang/Moonglade/issues/189 -->
	<location>
		<system.webServer>
			<staticContent xdt:Transform="InsertIfMissing">
				<remove fileExtension=".woff2" />
				<remove fileExtension=".woff" />
				<mimeMap fileExtension=".woff2" mimeType="font/woff2" />
				<mimeMap fileExtension=".woff" mimeType="font/woff" />
			</staticContent>
			<security xdt:Transform="InsertIfMissing">
				<requestFiltering removeServerHeader="true" />
			</security>
			<httpProtocol xdt:Transform="InsertIfMissing">
				<customHeaders>
					<remove name="X-Powered-By" />
					<add name="x-content-type-options" value="nosniff" />
					<add name="x-xss-protection" value="1" />
					<add name="content-security-policy"
					     value="frame-ancestors 'self'; form-action 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://cdnjs.cloudflare.com https://*.vo.msecnd.net https://*.services.visualstudio.com https://*.monitor.azure.com; worker-src blob: data: https://cdnjs.cloudflare.com"/>
				</customHeaders>
			</httpProtocol>
			<rewrite xdt:Transform="InsertIfMissing">
				<rules>
					<rule name="Redirect Misc Homepage URLs to canonical homepage URL" stopProcessing="false">
						<match url="(index|default).(aspx?|htm|s?html|php|pl|cfm)"/>
						<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
							<add input="{REQUEST_METHOD}" pattern="GET"/>
						</conditions>
						<action type="Redirect" url="/"/>
					</rule>
					<rule name="RemoveTrailingSlashRule" stopProcessing="true">
						<match url="(.*)/$"/>
						<conditions>
							<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
							<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						</conditions>
						<action type="Redirect" url="{R:1}"/>
					</rule>
				</rules>
				<outboundRules>
					<rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
						<match serverVariable="RESPONSE_Strict_Transport_Security"
						       pattern=".*" />
						<conditions>
							<add input="{HTTPS}" pattern="on" ignoreCase="true" />
						</conditions>
						<action type="Rewrite" value="max-age=31536000;includeSubDomains;preload" />
					</rule>
				</outboundRules>
			</rewrite>
		</system.webServer>
	</location>
</configuration>