<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->

  <!-- Fix issue https://github.com/EdiWang/Moonglade/issues/189 -->
  <location>
    <system.webServer>
      <security xdt:Transform="InsertIfMissing">
        <requestFiltering removeServerHeader="true" />
      </security>
      <httpProtocol xdt:Transform="InsertIfMissing">
        <customHeaders>
          <remove name="X-Powered-By" />
          <add name="x-content-type-options" value="nosniff" />
          <add name="x-frame-options" value="SAMEORIGIN" />
          <add name="x-xss-protection" value="1" />
          <add name="feature-policy" value="camera 'none'; microphone 'none'; payment 'none'; usb 'none'; accelerometer 'none'" />
          <add name="content-security-policy" value="form-action 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://*.vo.msecnd.net https://*.services.visualstudio.com" />
        </customHeaders>
      </httpProtocol>
      <rewrite xdt:Transform="InsertIfMissing">
        <rules>
          <rule name="Redirect Misc Homepage URLs to canonical homepage URL" stopProcessing="false">
            <match url="(index|default).(aspx?|htm|s?html|php|pl|cfm)"/>
            <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
              <add input="{REQUEST_METHOD}" pattern="GET"/>
            </conditions>
            <action type="Redirect" url="/"/>
          </rule>
          <rule name="RemoveTrailingSlashRule" stopProcessing="true">
            <match url="(.*)/$"/>
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            </conditions>
            <action type="Redirect" url="{R:1}"/>
          </rule>
          <rule name="Canonical Host Name">
            <match url="^(.*)$" />
            <conditions>
              <add input="{HTTP_HOST}" pattern="^ediwang.dev$" />
            </conditions>
            <action type="Redirect" url="https://edi.wang/{R:1}" />
          </rule>
          <!--<rule name="Image route migration">
            <match url="uploads/(.*)" />
            <action type="Redirect" url="image/{R:1}" />
          </rule>-->
        </rules>
      </rewrite>
    </system.webServer>
  </location>
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->

</configuration>