<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<!-- Fix issue https://github.com/EdiWang/Moonglade/issues/189 -->
	<location>
		<system.webServer>
			<staticContent xdt:Transform="InsertIfMissing">
				<remove fileExtension=".woff2" />
				<remove fileExtension=".woff" />
				<mimeMap fileExtension=".woff2" mimeType="font/woff2" />
				<mimeMap fileExtension=".woff" mimeType="font/woff" />
			</staticContent>
			<security xdt:Transform="InsertIfMissing">
				<requestFiltering removeServerHeader="true" />
			</security>
			<httpProtocol xdt:Transform="InsertIfMissing">
				<customHeaders>
					<remove name="X-Powered-By" />
					<add name="x-content-type-options" value="nosniff" />
					<add name="content-security-policy"
					     value="frame-ancestors 'self'; form-action 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://cdnjs.cloudflare.com https://*.vo.msecnd.net https://*.services.visualstudio.com https://*.monitor.azure.com https://www.clarity.ms https://twitter.com https://platform.twitter.com; worker-src blob: data: https://cdnjs.cloudflare.com"/>
				</customHeaders>
			</httpProtocol>
		</system.webServer>
	</location>
</configuration>