@model IReadOnlyList<Moonglade.Model.FriendLink>

@if (Model.Any())
{
    <ul class="list-unstyled">
        @foreach (var item in Model)
        {
            <li>
                <a href="@item.LinkUrl" target="_blank">
                    @item.Title
                </a>
            </li>
        }
    </ul>
}