@model List<(Moonglade.Data.Entities.TagEntity Tag, int PostCount)>

@if (Model.Any())
{
    foreach (var (tag, count) in Model)
    {
        <a asp-page="/TagList"
           asp-route-normalizedName="@tag.NormalizedName"
           rel="@count"
           class="d-inline-block btn btn-sm btn-accent mb-2 me-1">
            @tag.DisplayName
        </a>
    }
}