@using Moonglade.Utils
@model IReadOnlyList<Moonglade.FriendLink.Link>

@if (Model.Any())
{
    <div class="card">
        <div class="card-header">@Localizer["Links"]</div>
        
        <div class="card-body">
            @foreach (var item in Model.OrderBy(c => c.Title))
            {
                <a href="@Helper.SterilizeLink(item.LinkUrl)" target="_blank" class="d-block mb-3 mt-2">
                    <i class="bi-link-45deg me-1"></i>
                    @item.Title
                </a>
            }
        </div>
    </div>
}