@{
    Layout = "_LayoutAdmin";
}

@model FriendLinkEditViewModel

<partial name="_SettingsHeader" />

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />

    <div class="row">
        <div class="col-12 col-md-6">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkUrl" class="control-label"></label>
                <input asp-for="LinkUrl" class="form-control" />
                <span asp-validation-for="LinkUrl" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-success" />
        <a asp-action="ManageFriendLinks" asp-controller="Settings" class="btn btn-secondary">Back</a>
    </div>
</form>
