@{
    Layout = "_LayoutAdmin";
}

<partial name="_SettingsHeader" />

<div class="alert alert-warning mb-4">
    This feature is under development, you may experience huge changes or unexpected code boom boom.
</div>

<a asp-action="Export4Download" asp-controller="Settings" asp-route-type="Tags" class="btn btn-outline-success" target="_blank">Export Tags Data</a>

<a asp-action="Export4Download" asp-controller="Settings" asp-route-type="Categories" class="btn btn-outline-success" target="_blank">Export Categories Data</a>

<a asp-action="Export4Download" asp-controller="Settings" asp-route-type="FriendLinks" class="btn btn-outline-success" target="_blank">Export Friend Links Data</a>

<a asp-action="Export4Download" asp-controller="Settings" asp-route-type="Pingbacks" class="btn btn-outline-success" target="_blank">Export Pingback Data</a>