@{
    Layout = "_LayoutAdmin";
}

@model GeneralSettingsViewModel

@section scripts{
    <script src="~/js/bs-custom-file-input.min.js"></script>
    <script>
        var avatarDataURL;

        $(document).ready(function () {
            bsCustomFileInput.init();
            $("#btn-upload-avatar").click(function () {
                uploadAvatar();
            });
        });

        function enableUploadButton() {
            $("#btn-upload-avatar").removeClass("disabled");
            $("#btn-upload-avatar").removeAttr("disabled");
        }

        function disableUploadButton() {
            $("#btn-upload-avatar").addClass("disabled");
            $("#btn-upload-avatar").attr("disabled", "disabled");
        }

        function uploadAvatar() {
            if (avatarDataURL) {
                disableUploadButton();
                var rawData = { base64avatar: avatarDataURL.replace(/^data:image\/(png|jpeg|jpg);base64,/, "") };

                $.ajax({
                    type: 'POST',
                    headers: { csrfFieldName: $("input[name=" + csrfFieldName + "]").val() },
                    url: '/admin/settings/set-blogger-avatar',
                    data: makeCSRFExtendedData(rawData),
                    success: function (data) {
                        console.info(data);
                        $("#avatarmodal").modal('hide');
                        toastr.success('Avatar updated');
                        d = new Date();
                        $(".blogadmin-avatar").attr("src", "/avatar?" + d.getTime());
                    },
                    error: function (xhr, status, err) {
                        console.error(err);
                        toastr.error('Upload avatar failed.');
                        enableUploadButton();
                    }
                });
            } else {
                toastr.error('Please select an avatar image');
            }
        }

        function resizeImage(file) {
            var reader = new FileReader();
            reader.onloadend = function () {

                var tempImg = new Image();
                tempImg.src = reader.result;
                tempImg.onload = function () {

                    var maxWidth = 300;
                    var maxHeight = 300;
                    var tempW = tempImg.width;
                    var tempH = tempImg.height;
                    if (tempW > tempH) {
                        if (tempW > maxWidth) {
                            tempH *= maxWidth / tempW;
                            tempW = maxWidth;
                        }
                    } else {
                        if (tempH > maxHeight) {
                            tempW *= maxHeight / tempH;
                            tempH = maxHeight;
                        }
                    }

                    var canvas = document.createElement('canvas');
                    canvas.width = tempW;
                    canvas.height = tempH;
                    var ctx = canvas.getContext("2d");
                    ctx.drawImage(this, 0, 0, tempW, tempH);
                    avatarDataURL = canvas.toDataURL("image/jpeg");

                    var div = $('#avatarDropTarget');
                    div.html('<img class="img-fluid" src="' + avatarDataURL + '" />');
                    enableUploadButton();
                }

            }
            reader.readAsDataURL(file);
        }

        function fileSelect(evt) {
            evt.stopPropagation();
            evt.preventDefault();

            if (window.File && window.FileReader && window.FileList && window.Blob) {
                var file;
                if (evt.dataTransfer) {
                    file = evt.dataTransfer.files[0];
                    $(".custom-file-label").text(file.name);
                } else {
                    file = evt.target.files[0];
                }

                if (!file.type.match('image.*')) {
                    toastr.error('Please select an image file.');
                }

                resizeImage(file);
            } else {
                toastr.error('The File APIs are not fully supported in this browser.');
            }
        }
        document.getElementById('avatarImageFile').addEventListener('change', fileSelect, false);

        function dragOver(evt) {
            evt.stopPropagation();
            evt.preventDefault();
            evt.dataTransfer.dropEffect = 'copy';
        }

        var dropTarget = document.getElementById('avatarDropTarget');
        dropTarget.addEventListener('dragover', dragOver, false);
        dropTarget.addEventListener('drop', fileSelect, false);
    </script>
}

<partial name="_SettingsHeader" />

<form id="form-settings" asp-controller="Settings" asp-action="GeneralSettings"
      data-ajax-begin="onUpdateSettingsBegin"
      data-ajax-complete="onUpdateSettingsComplete"
      data-ajax-failure="onUpdateSettingsFailed"
      data-ajax-success="onUpdateSettingsSuccess"
      data-ajax="true"
      data-ajax-method="POST">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">Website</div>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="SiteTitle" class="control-label"></label>
                        <input asp-for="SiteTitle" class="form-control" />
                        <span asp-validation-for="SiteTitle" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LogoText" class="control-label"></label>
                        <input asp-for="LogoText" class="form-control" />
                        <span asp-validation-for="LogoText" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MetaKeyword" class="control-label"></label>
                        <input asp-for="MetaKeyword" class="form-control" />
                        <span asp-validation-for="MetaKeyword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MetaDescription" class="control-label"></label>
                        <input asp-for="MetaDescription" class="form-control" />
                        <span asp-validation-for="MetaDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="SelectedThemeFileName">Theme</label>
                            </div>
                            <select class="custom-select" asp-for="SelectedThemeFileName" asp-items="@Model.ThemeList"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="SelectedUtcOffset">Time Zone</label>
                            </div>
                            <select class="custom-select" asp-for="SelectedTimeZoneId" asp-items="@Model.TimeZoneList"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Copyright" class="control-label"></label>
                        <input asp-for="Copyright" class="form-control" />
                        <p class="text-muted">Use [c] for copyright mark: &copy;, [year] for current year.</p>
                        <span asp-validation-for="Copyright" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FooterCustomizedHtmlPitch" class="control-label"></label>
                        <textarea asp-for="FooterCustomizedHtmlPitch" class="form-control" style="font-size: 12px; font-family: 'Consolas'" spellcheck="false"></textarea>
                        <span asp-validation-for="FooterCustomizedHtmlPitch" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">Owner Information</div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <div class="mb-2">
                                    <img src="@Url.Action("Avatar", "Image" )" class="img-thumbnail img-fluid blogadmin-avatar" />
                                </div>
                                <a class="btn btn-block btn-sm btn-secondary" href="#" data-toggle="modal" data-target="#avatarmodal">Change Avatar</a>
                            </div>
                            <div class="col-md-9 col-sm-8">
                                <div class="form-group">
                                    <label asp-for="BloggerName" class="control-label"></label>
                                    <input asp-for="BloggerName" class="form-control" />
                                    <span asp-validation-for="BloggerName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="BloggerDescription" class="control-label"></label>
                                    <textarea asp-for="BloggerDescription" class="form-control"></textarea>
                                    <span asp-validation-for="BloggerDescription" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="BloggerShortDescription" class="control-label"></label>
                                    <input asp-for="BloggerShortDescription" class="form-control" />
                                    <span asp-validation-for="BloggerShortDescription" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="SideBarCustomizedHtmlPitch" class="control-label"></label>
                                    <textarea asp-for="SideBarCustomizedHtmlPitch" class="form-control" style="font-size: 12px; font-family: 'Consolas'" spellcheck="false"></textarea>
                                    <span asp-validation-for="SideBarCustomizedHtmlPitch" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr />
    <div class="form-group">
        <input id="btn-save-settings" type="submit" value="Save" class="btn btn-success" />
    </div>
</form>

<div class="modal fade" id="avatarmodal" tabindex="-1" role="dialog" aria-labelledby="avatarmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="avatarmodalLabel">Change Avatar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <div id="avatarDropTarget" style="width: 256px; height: 256px;" class="img-thumbnail bg-light text-center">
                        Drag and drop image file here
                    </div>

                    <div class="input-group mt-2">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="avatarImageFile" name="avatarImageFile">
                            <label class="custom-file-label" for="avatarImageFile" aria-describedby="avatarImageFileAddon">.png or .jpg file</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success disabled" id="btn-upload-avatar" disabled="disabled">Upload</button>
            </div>
        </div>
    </div>
</div>