@{
    Layout = "_LayoutAdmin";
}
@model NavMenuManageViewModel

<partial name="_SettingsHeader" />

<div class="alert alert-info">
    To turn on / off system navigation items (Categories / Tags / Archive), edit appsettings.json or override with environment variables.
</div>