@model SecuritySettingsViewModel

@{
    Layout = "_LayoutAdmin";
}
@Html.AntiForgeryToken()

<partial name="_SettingsHeader" />

<form id="form-settings" asp-controller="Settings" asp-action="Security"
      data-ajax-begin="onUpdateSettingsBegin"
      data-ajax-complete="onUpdateSettingsComplete"
      data-ajax-failure="onUpdateSettingsFailed"
      data-ajax-success="onUpdateSettingsSuccess"
      data-ajax="true"
      data-ajax-method="POST">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header">@Localizer["Security Settings"]</div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" asp-for="WarnExternalLink" class="custom-control-input">
                            <label asp-for="WarnExternalLink" class="custom-control-label" ></label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" asp-for="AllowScriptsInPage" class="custom-control-input">
                            <label asp-for="AllowScriptsInPage" class="custom-control-label"></label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" asp-for="ShowAdminLoginButton" class="custom-control-input">
                            <label asp-for="ShowAdminLoginButton" class="custom-control-label"></label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" asp-for="EnablePostRawEndpoint" class="custom-control-input">
                            <label asp-for="EnablePostRawEndpoint" class="custom-control-label"></label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">

        </div>
    </div>
    <hr />
    <div class="form-group">
        <input id="btn-save-settings" type="submit" value="@Localizer["Save"]" class="btn btn-success" />
    </div>
</form>