/* Admin Portal */
.admin-body {
    padding-top: 0;
}

.admin-wrap {
    height: 100%;
}

.admin-nav {
    width: 250px;
    background-color: #124078;
}

.admin-main {
    flex: 1;
    min-height: 512px;
}

hr.admin-nav-divider {
    border-top: 1px solid #7DA3C6;
    margin: 0 20px;
}

.text-moonglade-dark-secondary {
    color: #98abc7;
}

.admin-nav-section .list-group-item {
    background-color: transparent;
    border: 0 none;
    color: rgba(255,255,255,.5);
}

    .admin-nav-section .list-group-item.active,
    .admin-nav-section .list-group-item:hover {
        color: #FFF;
        background-color: #002050;
    }

.admin-nav-link:active {
    color: #FFF;
}

.admin-main .validation-summary-errors ul {
    margin-bottom: 0;
}

.admin-main .catlist ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

    .admin-main .catlist ul li {
        width: 175px;
        display: inline-block;
    }

        .admin-main .catlist ul li label {
            display: inline-block;
            font-weight: normal;
            padding-left: 6px;
            vertical-align: middle;
        }

div.mce-fullscreen {
    z-index: 1050;
}

.empty-recycle {
    height: 208px;
    margin: 0 auto;
    padding-top: 52px;
    width: 208px;
}

.ul-tag-mgr {
    line-height: 28px;
    text-align: justify;
}

    .ul-tag-mgr li {
        border: 1px solid #bbb;
        color: #444;
        display: inline-block;
        height: 33px;
        line-height: 33px;
        margin-bottom: 10px;
        vertical-align: top;
    }

        .ul-tag-mgr li.updated {
            border: 1px solid #398439;
        }

        .ul-tag-mgr li span {
            display: inline-block;
            padding: 0 10px;
            vertical-align: top;
        }

        .ul-tag-mgr li a {
            background-color: #EEE;
            color: #CCC;
            cursor: pointer;
            display: inline-block;
            font-size: 16px;
            height: 31px;
            padding: 0 5px;
        }

            .ul-tag-mgr li a:hover {
                background-color: #a94442;
                color: #FFF;
            }