.full-height {
    height: 100%;
}

.admin-body {
    padding-top: 0;
}

.admin-nav {
    background-color: var(--moonglade-accent-color2);
    max-width: 230px;
    padding-left: 0;
    padding-right: 0;
}

.admin-main {
    overflow-y: scroll;
}

.textarea-code {
    font-family: 'Consolas';
    font-size: 12px;
}

hr.admin-nav-divider {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0 20px;
}

.text-moonglade-dark-secondary {
    color: rgba(255, 255, 255, 0.5);
}

.post-content-textarea {
    min-height: 650px;
}

.post-edit-form .CodeMirror {
    height: 620px;
}

.admin-nav-section .list-group-item {
    background-color: transparent;
    border: 0 none;
    color: rgba(255, 255, 255, .5);
}

    .admin-nav-section .list-group-item.active,
    .admin-nav-section .list-group-item:hover {
        background-color: var(--moonglade-accent-color1);
        color: #FFF;
    }

.admin-nav-link:active {
    color: #FFF;
}

.admin-main .validation-summary-errors ul {
    margin-bottom: 0;
}

.admin-main .catlist ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    .admin-main .catlist ul li {
        display: inline-block;
        width: 175px;
    }

        .admin-main .catlist ul li label {
            display: inline-block;
            font-weight: normal;
            padding-left: 6px;
            vertical-align: middle;
        }

div.mce-fullscreen {
    z-index: 1050;
}

.empty-recycle {
    height: 208px;
    margin: 0 auto;
    padding-top: 52px;
    width: 208px;
}

.ul-tag-mgr {
    line-height: 28px;
    text-align: justify;
}

    .ul-tag-mgr li {
        border: 1px solid #bbb;
        color: #444;
        display: inline-block;
        height: 33px;
        line-height: 33px;
        margin-bottom: 10px;
        vertical-align: top;
    }

        .ul-tag-mgr li.updated {
            border: 1px solid #398439;
        }

        .ul-tag-mgr li span {
            display: inline-block;
            padding: 0 10px;
            vertical-align: top;
        }

        .ul-tag-mgr li a {
            background-color: #EEE;
            color: #CCC;
            cursor: pointer;
            display: inline-block;
            font-size: 16px;
            height: 31px;
            padding: 0 5px;
        }

            .ul-tag-mgr li a:hover {
                background-color: #a94442;
                color: #FFF;
            }

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

    .material-switch > label::before {
        background: rgb(0, 0, 0);
        content: '';
        height: 16px;
        margin-top: -8px;
        opacity: 0.3;
        position: absolute;
        transition: all 0.4s ease-in-out;
        width: 40px;
    }

    .material-switch > label::after {
        background: #EEE;
        content: '';
        height: 24px;
        left: -4px;
        margin-top: -8px;
        position: absolute;
        top: -4px;
        transition: all 0.3s ease-in-out;
        width: 15px;
    }

.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 25px;
}

.table .table-item-w10 {
    width: 10%;
}

.table .table-item-w20 {
    width: 20%;
}

.table .table-item-w30 {
    width: 30%;
}

.table .table-item-w40 {
    width: 40%;
}

.table .table-item-w50 {
    width: 50%;
}

.table .table-item-w60 {
    width: 60%;
}

.table .table-item-w70 {
    width: 70%;
}

.table .table-item-w80 {
    width: 80%;
}

.table .table-item-w85 {
    width: 85%;
}

.table .table-item-w90 {
    width: 90%;
}

.table .table-item-w100 {
    width: 100%;
}
