*, ::after, ::before {
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    padding-top: 50px;
}

a {
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-light {
    color: #212529;
    background-color: #EEEEEE;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.content {
    text-align: center;
}

.ic-st0 {
    opacity: 0.8;
    fill: #B5B5B5;
}

.ic-st1 {
    opacity: 0.9;
    fill: #B5B5B5;
}

.ic-st2 {
    fill: #EAEAEA;
}

.ic-st3 {
    opacity: 0.1;
}

.ic-st4 {
    opacity: 0.2;
    fill: #C1C1C1;
}

.ic-st5 {
    opacity: 0.2;
}

.ic-st6 {
    opacity: 0.2;
    fill: #B5B5B5;
}

.ic-st7 {
    opacity: 0.38;
}

.ic-st8 {
    opacity: 0.38;
    fill: #C1C1C1;
}

.ic-st9 {
    opacity: 0.1;
    fill: #C1C1C1;
}

.ic-st10 {
    opacity: 0.38;
    fill: #B5B5B5;
}

.ic-st11 {
    opacity: 0.39;
}

.ic-st12 {
    opacity: 0.3;
}

.ic-st13 {
    opacity: 0.4;
}

.ic-st14 {
    opacity: 0.3;
    fill: #B5B5B5;
}

.ic-st15 {
    opacity: 0.49;
    fill: #B5B5B5;
}

h1 {
    font-weight: normal;
}