@font-face {
    font-family: 'SairaSemiCondensed-Bold';
    src: url('/webfonts/SairaSemiCondensed-Bold.eot?#iefix') format('embedded-opentype'), url('/webfonts/SairaSemiCondensed-Bold.woff') format('woff'), url('/webfonts/SairaSemiCondensed-Bold.ttf') format('truetype'), url('/webfonts/SairaSemiCondensed-Bold.svg#SairaSemiCondensed-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoonglade';
    src: url('/webfonts/icomoonglade.ttf?996007') format('truetype'), url('/webfonts/icomoonglade.woff?996007') format('woff'), url('/webfonts/icomoonglade.svg?996007#icomoonglade') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoonglade' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-book:before {
    content: "\e91f";
}

.icon-file-text2:before {
    content: "\e926";
}

.icon-folder:before {
    content: "\e92f";
}

.icon-price-tag:before {
    content: "\e935";
}

.icon-qrcode:before {
    content: "\e938";
}

.icon-clock:before {
    content: "\e94e";
}

.icon-undo2:before {
    content: "\e967";
}

.icon-bubbles3:before {
    content: "\e96f";
}

.icon-cog:before {
    content: "\e994";
}

.icon-bin:before {
    content: "\e9ac";
}

.icon-earth:before {
    content: "\e9ca";
}

.icon-link:before {
    content: "\e9cb";
}

.icon-star-full:before {
    content: "\e9d9";
}

.icon-heart:before {
    content: "\e9da";
}

.icon-plus:before {
    content: "\ea0a";
}

.icon-cross:before {
    content: "\ea0f";
}

.icon-embed2:before {
    content: "\ea80";
}

.icon-rss:before {
    content: "\ea9b";
}

.icon-github:before {
    content: "\eab0";
}

.icon-home:before {
    content: "\e900";
}

.icon-pencil:before {
    content: "\e905";
}

.icon-image:before {
    content: "\e90d";
}

.icon-file-empty:before {
    content: "\e924";
}

.icon-credit-card:before {
    content: "\e93f";
}

.icon-mobile2:before {
    content: "\e959";
}

.icon-floppy-disk:before {
    content: "\e962";
}

.icon-bug:before {
    content: "\e999";
}

.icon-airplane:before {
    content: "\e9af";
}

.icon-sphere:before {
    content: "\e9c9";
}

.icon-attachment:before {
    content: "\e9cd";
}

.icon-bookmark:before {
    content: "\e9d2";
}

.icon-minus:before {
    content: "\ea0b";
}

.icon-checkmark:before {
    content: "\ea10";
}

.icon-enter:before {
    content: "\ea13";
}

.icon-loop2:before {
    content: "\ea2e";
}

.icon-arrow-left:before {
    content: "\ea38";
}

.icon-table2:before {
    content: "\ea71";
}

.icon-share2:before {
    content: "\ea82";
}

.icon-twitter:before {
    content: "\ea96";
}

.icon-youtube:before {
    content: "\ea9d";
}

.icon-tux:before {
    content: "\eabd";
}

.icon-appleinc:before {
    content: "\eabe";
}

.icon-android:before {
    content: "\eac0";
}

.icon-windows8:before {
    content: "\eac2";
}

.icon-linkedin:before {
    content: "\eac9";
}

.icon-stack-overflow:before {
    content: "\f16c";
}

.icon-sun-o:before {
    content: "\f185";
}

.icon-moon-o:before {
    content: "\f186";
}

.icon-wechat:before {
    content: "\f1d7";
}

.icon-weixin:before {
    content: "\f1d7";
}

.icon-facebook-official:before {
    content: "\f230";
}

.icon-search:before {
    content: "\f002";
}