@font-face {
    font-family: 'SairaSemiCondensed-Bold';
    src: url('/webfonts/SairaSemiCondensed-Bold.eot?#iefix') format('embedded-opentype'), url('/webfonts/SairaSemiCondensed-Bold.woff') format('woff'), url('/webfonts/SairaSemiCondensed-Bold.ttf') format('truetype'), url('/webfonts/SairaSemiCondensed-Bold.svg#SairaSemiCondensed-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}