.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    border: 1px solid #d3d6db;
    background-color: #f9f9f9;
    color: black;
}

.hljs-comment,
.hljs-quote {
    color: #008000;
}

.hljs-built_in, .hljs-keyword, .hljs-name, .hljs-pscommand, .hljs-selector-tag, .hljs-tag {
    color: #0101fd;
}

.hljs-literal {
    color: #07704a
}

.hljs-string .hljs-subst {
    color: hsla(0,0%,9%,1);
    color: var(--text)
}

    .hljs-code, .hljs-deletion, .hljs-section, .hljs-string, .hljs-string .hljs-subst .hljs-string, .hljs-template-tag, .hljs-template-variable {
        color: #a31515
    }

.hljs-addition, .hljs-attribute, .hljs-meta, .hljs-parameter, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-title, .hljs-type {
    color: #007d9a
}

.hljs-doctag {
    color: #808080;
}

.hljs-attr {
    color: #0451a5;
}

.hljs-control {
    color: #af00db
}

.hljs-helper {
    color: #795e26
}

.hljs-bullet, .hljs-link, .hljs-symbol {
    color: #00b0e8
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-constant, .hljs-reserved {
    color: #cd3131
}