.comment-md-content .editor-toolbar {
    border-left: 0 none !important;
    border-right: 0 none !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.comment-md-content .CodeMirror {
    border-bottom: 1px solid #ddd !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-left: 0 none !important;
    border-right: 0 none !important;
}

.btn-outline-footer {
    border-color: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
}

    .btn-outline-footer:hover {
        border-color: #fff;
        color: #fff;
    }

.navbar .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    background-color: #ffeeee;
    border: 1px solid #ff0000;
}

.validation-summary-errors {
    color: #ff0000;
    font-weight: bold;
}

.validation-summary-valid {
    display: none;
}

.sec.sec-alter {
    background-color: #f2f2f2;
}

.sec {
    padding-bottom: 50px;
    padding-top: 50px;
}

.h-30px {
    height: 30px !important;
}

.h-100px {
    height: 100px !important;
}

.h-200px {
    height: 200px !important;
}

.h-300px {
    height: 300px !important;
}

.title-box {
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 9px #000;
    position: relative;
}

    .title-box h1 {
        font-weight: lighter;
    }

    .title-box h1, .title-box h3 {
        color: #fff;
        text-shadow: 1px 1px 4px #000;
    }

.page-content .card-header {
    padding: 0.5rem !important;
}

.tile {
    height: 80px;
    margin-bottom: 15px;
}

.tile-image {
    background-color: var(--moonglade-accent-color1);
    color: #FFF;
    float: left;
    font-size: 44px;
    height: 64px;
    margin-right: 10px;
    text-align: center;
    width: 64px;
}

.tile-info {
    float: left;
}

.tile-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.tilexsm {
    clear: both;
    margin-bottom: 15px;
    overflow: hidden;
}

.tilexsm-image {
    background-color: var(--moonglade-accent-color1);
    border-radius: 50%;
    color: #FFF;
    float: left;
    font-size: 21px;
    height: 36px;
    margin-right: 10px;
    padding-top: 2px;
    text-align: center;
    width: 36px;
}

.tilexsm-info {
    margin: 0 15px 0 42px;
    width: 100%;
}

.tilexsm-title {
    font-size: 14px;
    font-weight: bold;
}

.tilexsm-subtitle {
    font-size: 12px;
}

.ul-cat-list-desktop a.btn {
    margin-right: 10px;
}

.comment-list .thumbnail {
    padding: 0;
}

.comment-list .card {
    position: relative;
}

    .comment-list .card > .card-header:after, .comment-list .card > .card-header:before {
        border-color: transparent;
        border-style: solid solid outset;
        content: " ";
        display: block;
        height: 0;
        left: -16px;
        pointer-events: none;
        position: absolute;
        right: 100%;
        top: 11px;
        width: 0;
    }

    .comment-list .card > .card-header:after {
        border-right-color: #f7f7f7;
        border-width: 7px;
        margin-left: 2px;
        margin-top: 1px;
    }

    .comment-list .card > .card-header:before {
        border-right-color: #ddd;
        border-width: 8px;
    }

.post-content p {
    font-size: 0.95rem;
    line-height: 1.6rem;
    margin-bottom: 15px;
    word-wrap: break-word;
}

.post-content img {
    cursor: pointer;
    min-height: 4px;
    min-width: 4px;
}

#img-captcha {
    cursor: pointer;
    margin: 0 !important;
    padding: 0 !important;
}

.btn-round {
    border-radius: 50px !important;
}

.badge.post-hit-number {
    font-size: 100%;
}

.post-publish-info {
    font-size: 0.75rem;
}

.post-header-hr {
    margin-bottom: 5px;
}

h3 small {
    font-size: 60%;
}

.textarea-banned-keywords {
    border: none;
    font-size: 14px;
    height: 150px !important;
}

.label-success {
    background-color: #5cb85c;
}

label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
    max-width: 100%;
}

.list-group-item.active, .page-item.active .page-link {
    background-color: var(--moonglade-accent-color1);
    border-color: var(--moonglade-accent-color1);
}

.table .table-item-title {
    text-align: left;
}

.tagCloud {
    line-height: 28px;
    text-align: justify;
}

    .tagCloud li {
        display: inline-block;
        vertical-align: top;
    }

.hottag-li a > span {
    display: block;
    font-size: 30px;
    font-weight: 100;
}

.hottag-li a {
    height: 80px !important;
    width: 156px;
}

.tagCloud li a {
    border: 1px solid #BBBBBB;
    color: #444;
    display: block;
    height: 33px;
    line-height: 33px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 0 10px;
}

    .tagCloud li a:hover {
        background-color: var(--moonglade-accent-color1) !important;
        border: 1px solid var(--moonglade-accent-color1) !important;
        color: #FFF !important;
    }

    .tagCloud li a.weight1 {
        background-color: #c9302c;
        border: 1px solid #d43f3a;
        color: #FFF !important;
        font-size: 145%;
    }

    .tagCloud li a.weight2 {
        background-color: #f0ad4e;
        border: 1px solid #eea236;
        color: #FFF !important;
        font-size: 133%;
    }

    .tagCloud li a.weight3 {
        background-color: #449d44;
        border: 1px solid #398439;
        color: #FFF !important;
        font-size: 115%;
    }

    .tagCloud li a.weight4 {
        background-color: #286090;
        border: 1px solid #204d74;
        color: #FFF !important;
        font-size: 100%;
    }

    .tagCloud li a.weight5 {
        font-size: 90%;
    }

    .tagCloud li a.weight0 {
        font-size: 80%;
    }

.arch-media-logo svg {
    width: 60px;
}

.rounded-list {
    margin-bottom: 10px;
    margin-left: 15px;
    margin-top: 10px;
}

    .rounded-list ol {
        counter-reset: li;
        margin-left: 0;
        padding-left: 0;
    }

        .rounded-list ol > li {
            background: #f6f6f6;
            list-style: none;
            margin: 0;
            padding-bottom: 0;
            padding-left: 15px;
            padding-top: 0;
            position: relative;
        }

            .rounded-list ol > li p:before {
                /* number background */
                background: rgba(43, 87, 154, .15);
                border: .3em solid #fff;
                border-radius: 2em;
                content: counter(li);
                counter-increment: li;
                font-weight: bold;
                height: 2em;
                left: -1.3em;
                line-height: 1.5em;
                margin-top: -1em;
                position: absolute;
                text-align: center;
                top: 50%;
                width: 2em;
            }

.timeline-box {
    position: relative;
}

.img-timeline {
    position: absolute;
}

.user-avatar-char {
    background-color: #804998;
    border-radius: 55px;
    color: #FFF;
    font-size: 30px;
    font-weight: 100;
    height: 55px;
    padding-top: 5px;
    text-align: center;
    width: 55px;
}

.ul-archive-item li {
    line-height: 24px;
}

.timeline-heading {
    border-bottom: 1px solid #EEE;
    margin-bottom: 10px;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        background-color: #eeeeee;
        bottom: 0;
        content: " ";
        left: 50%;
        margin-left: -1.5px;
        position: absolute;
        top: 0;
        width: 3px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            float: left;
            padding: 20px;
            position: relative;
            width: 46%;
        }

            .timeline > li > .timeline-panel:before {
                border-bottom: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-top: 15px solid transparent;
                content: " ";
                display: inline-block;
                position: absolute;
                right: -15px;
                top: 26px;
            }

            .timeline > li > .timeline-panel:after {
                border-bottom: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-top: 14px solid transparent;
                content: " ";
                display: inline-block;
                position: absolute;
                right: -14px;
                top: 27px;
            }

        .timeline > li > .timeline-badge {
            background-color: #999999;
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
            color: #fff;
            font-size: 1.4em;
            height: 50px;
            left: 50%;
            line-height: 50px;
            margin-left: -25px;
            position: absolute;
            text-align: center;
            top: 16px;
            width: 50px;
            z-index: 100;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    color: inherit;
    font-weight: lighter;
    margin-top: 0;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

.animate {
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.animbrand {
    margin-left: -20px;
}

    .animbrand a::after, .animbrand a::before {
        -moz-transition: -moz-transform .3s, opacity .2s;
        -webkit-transition: -webkit-transform .3s, opacity .2s;
        color: #FFF;
        display: inline-block;
        font-size: 22px;
        line-height: 16px;
        opacity: 0;
        transition: transform .3s, opacity .2s;
    }

    .animbrand a::before {
        -moz-transform: translateX(50px);
        -webkit-transform: translateX(50px);
        content: '<';
        transform: translateX(50px)
    }

    .animbrand a::after {
        -moz-transform: translateX(-50px);
        -webkit-transform: translateX(-50px);
        content: '>';
        transform: translateX(-50px)
    }

    .animbrand a:focus::after, .animbrand a:focus::before, .animbrand a:hover::after, .animbrand a:hover::before {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        opacity: 0.9;
        transform: translateX(0)
    }

div.animbrand a:focus, div.animbrand a:hover {
    outline: 0
}

.article-post-summary {
    position: relative;
}

.post-date-box {
    border: 1px solid var(--moonglade-accent-color1);
    border-radius: 3px;
    font-family: SairaSemiCondensed-Bold;
    position: absolute;
    width: 70px;
}

.post-date-day {
    color: var(--moonglade-accent-color1);
    font-size: 42px;
    height: 58px;
    margin: 0;
    padding-right: 7px;
    text-align: right;
}

.post-date-month {
    background-color: var(--moonglade-accent-color1);
    color: #fff;
    padding: 1px 10px;
    text-align: right;
}

.post-summary-title {
    font-size: 18px;
    margin-bottom: 15px;
}

.post-summary-box {
    display: block;
    margin-left: 105px;
}

.post-summary-text {
    line-height: 24px;
    word-break: break-all;
    word-wrap: break-word;
}

.post-summary-tags {
    margin-bottom: -10px;
    padding-top: 10px;
}

    .post-summary-tags a {
        background-color: var(--moonglade-accent-color1);
        color: #fff;
        display: inline-block;
        font-size: 0.75rem;
        margin-bottom: 10px;
        margin-right: 10px;
        padding: 5px 10px;
    }

        .post-summary-tags a:hover {
            background-color: var(--moonglade-accent-color3);
            color: #fff;
        }

.blog-info-desktop-lg {
    background: #fafafa;
    border-radius: 3px;
    color: #fff;
    overflow: hidden;
    position: relative;
}

.btn-profile-about {
    border-radius: 0 0 3px 3px;
}

.card-bkimg-container {
    height: 310px;
    overflow: hidden;
}

.card-bkimg {
    -moz-filter: blur(30px);
    -webkit-filter: blur(30px);
    filter: blur(30px);
    margin-left: -69px;
    margin-top: -57px;
    min-width: 150%;
}

.blogger-head-pic {
    border: 5px solid rgba(255, 255, 255, .5);
    height: 110px;
    width: 110px;
}

.blog-info-photo-text {
    padding-top: 40px;
    position: absolute;
    top: 32px;
    width: 100%;
    z-index: 999;
}

.blog-info-desktop-lg h3 {
    color: #fff;
    font-family: SairaSemiCondensed-Bold;
}

a {
    color: var(--moonglade-accent-color1);
    text-decoration: none;
}

    a:hover,
    a:focus {
        color: var(--moonglade-accent-color1);
        text-decoration: none;
    }

.bg-moonglade-accent1 {
    background-color: var(--moonglade-accent-color1);
}

.bg-moonglade-accent2 {
    background-color: var(--moonglade-accent-color2);
}

.bg-moca-dark {
    background-color: #171717;
}

    .bg-moca-dark .list-group-item-action:focus,
    .bg-moca-dark .list-group-item-action:hover {
        background-color: #1d2124 !important;
    }

.navbar {
    box-shadow: 0 0 8px #666;
    padding: .4rem 1rem
}

.nav-item {
    margin: 0 1rem 0 0;
}

footer {
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 20px;
    padding-top: 20px;
}

    footer .container h4 {
        color: rgba(255, 255, 255, 0.6);
        font-size: 20px;
        font-weight: lighter;
        margin-bottom: 31px;
        text-transform: uppercase;
    }

.form-control#term {
    border-width: 0;
    box-shadow: none;
    color: #fff;
    margin-right: 0 !important;
    width: 226px;
}

    .form-control#term::-webkit-input-placeholder {
        color: white !important;
    }

    .form-control#term:-moz-placeholder { /* Firefox 18- */
        color: white !important;
    }

    .form-control#term::-moz-placeholder { /* Firefox 19+ */
        color: white !important;
    }

    .form-control#term:-ms-input-placeholder {
        color: white !important;
    }

.form-control#search:focus {
    -ms-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: var(--moonglade-accent-color1);
    box-shadow: none;
}

.search-form {
    background: rgba(255, 255, 255, .2);
    border-radius: 3px;
}

.btn-search {
    background: transparent;
    border: 0 none;
    font-size: 1.3rem;
    height: 36px;
    padding: 0 0.6rem;
}

.btn-primary {
    background-color: #124078;
    border-color: #0e315d;
}

.page-link {
    color: var(--moonglade-accent-color1);
}

.comment-form-containter .badge {
    font-size: 100% !important;
}

.nav-item-non-margin {
    margin: 0 0;
}

.dropdown-menu {
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.navbar .dropdown-menu {
    background-color: var(--moonglade-accent-color1);
    border: 0;
    color: #fff;
    font-size: 0.9rem;
}

    .navbar .dropdown-menu .dropdown-item {
        color: #FFF;
        line-height: 1.7rem;
    }

.navbar .dropdown-item.active, .dropdown-item:hover {
    background-color: var(--moonglade-accent-color3);
    color: #fff;
    text-decoration: none;
}

a.link-transparent {
    color: rgba(255, 255, 255, 0.7);
}

    a.link-transparent:hover {
        color: #FFF;
    }

footer a {
    color: rgba(255, 255, 255, 0.7);
}

    footer a:hover {
        color: #FFF;
    }

.qrcode-link a {
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    display: inline-block;
    font-size: 25px;
    margin-right: 10px;
}

    .qrcode-link a:hover {
        color: #FFF;
    }

html, body {
    height: 100%;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #CECECE;
}

::selection {
    background-color: rgba(43, 87, 154, .15);
    color: inherit;
    text-shadow: none;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei";
    font-size: 0.9rem;
    padding-top: 50px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5 {
    font-weight: normal;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .7);
}

    .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
        color: white;
    }

.nav-link strong {
    font-weight: 500;
}

.hr-dark {
    border-top: 1px solid rgba(255, 255, 255, .15) !important;
}

#imgzoom {
    height: max-content;
    margin: 0 auto;
    width: max-content;
}

.modal-imgzoom {
    display: table;
}

.moonglade-logo {
    font-family: SairaSemiCondensed-Bold;
    font-size: 28px;
    line-height: 1px;
}

.toptags-list a {
    background-color: var(--moonglade-accent-color1);
    color: #fff;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 1px;
    padding: 5px 10px;
}

    .toptags-list a:hover {
        background-color: var(--moonglade-accent-color3);
        color: #fff;
    }

.lightswitch {
    background: #fff;
    bottom: 20px;
    cursor: pointer;
    height: 32px;
    position: fixed;
    right: 20px;
    text-align: center;
    width: 32px;
    z-index: 996;
}

#lighticon {
    display: block;
    transform: translate(0, 50%);
}
