.navbar {
    box-shadow: 0 0 8px var(--dark-1);
    padding: .4rem 1rem
}

.nav-item {
    margin: 0 1rem 0 0;
}

.animbrand {
    margin-left: -20px;
}

    .animbrand a::after, .animbrand a::before {
        -moz-transition: -moz-transform .3s, opacity .2s;
        -webkit-transition: -webkit-transform .3s, opacity .2s;
        color: #FFF;
        display: inline-block;
        font-size: 22px;
        line-height: 16px;
        opacity: 0;
        transition: transform .3s, opacity .2s;
    }

    .animbrand a::before {
        -moz-transform: translateX(50px);
        -webkit-transform: translateX(50px);
        content: '<';
        transform: translateX(50px)
    }

    .animbrand a::after {
        -moz-transform: translateX(-50px);
        -webkit-transform: translateX(-50px);
        content: '>';
        transform: translateX(-50px)
    }

    .animbrand a:focus::after, .animbrand a:focus::before, .animbrand a:hover::after, .animbrand a:hover::before {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        opacity: 0.9;
        transform: translateX(0)
    }

div.animbrand a:focus, div.animbrand a:hover {
    outline: 0
}

.search-form {
    background: var(--transparent-white-20);
    border-radius: 3px;
}

.btn-search {
    background: transparent;
    border: 0 none;
    font-size: 1.3rem;
    height: 36px;
    padding: 0 0.6rem;
}

.navbar .dropdown-menu {
    background-color: var(--moonglade-accent-color1);
    border: 0;
    color: var(--white);
    font-size: 0.9rem;
}

    .navbar .dropdown-menu .dropdown-item {
        color: var(--white);
        line-height: 1.7rem;
    }

.navbar .dropdown-item.active, .dropdown-item:hover {
    background-color: var(--moonglade-accent-color3);
    color: var(--white);
    text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--transparent-white-70);
}

    .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
        color: var(--white);
    }

.nav-link strong {
    font-weight: 500;
}

.navbar .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.nav-item-non-margin {
    margin: 0 0;
}

.form-control#term {
    border-width: 0;
    box-shadow: none;
    color: var(--white);
    margin-right: 0 !important;
    width: 226px;
}

    .form-control#term::-webkit-input-placeholder {
        color: var(--white) !important;
    }

    .form-control#term:-moz-placeholder { /* Firefox 18- */
        color: var(--white) !important;
    }

    .form-control#term::-moz-placeholder { /* Firefox 19+ */
        color: var(--white) !important;
    }

    .form-control#term:-ms-input-placeholder {
        color: var(--white) !important;
    }

.form-control#search:focus {
    -ms-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: var(--moonglade-accent-color1);
    box-shadow: none;
}
