.tagCloud {
    line-height: 28px;
    text-align: justify;
}

    .tagCloud li {
        vertical-align: top;
    }

        .tagCloud li a {
            border: 1px solid var(--gray-4);
            color: var(--gray-5);
            height: 33px;
            line-height: 33px;
            margin-bottom: 10px;
            padding: 0 10px;
            border-radius: 3px;
        }

            .tagCloud li a:hover {
                background-color: var(--accent-color1) !important;
                border: 1px solid var(--accent-color1) !important;
                color: var(--white) !important;
            }

            .tagCloud li a.weight1 {
                background-color: var(--red);
                border: 1px solid var(--red);
                color: var(--white) !important;
                font-size: 145%;
            }

            .tagCloud li a.weight2 {
                background-color: var(--orange);
                border: 1px solid var(--orange);
                color: var(--white) !important;
                font-size: 133%;
            }

            .tagCloud li a.weight3 {
                background-color: var(--green);
                border: 1px solid var(--green);
                color: var(--white) !important;
                font-size: 115%;
            }

            .tagCloud li a.weight4 {
                background-color: var(--blue);
                border: 1px solid var(--blue);
                color: var(--white) !important;
                font-size: 100%;
            }

            .tagCloud li a.weight5 {
                font-size: 90%;
            }

            .tagCloud li a.weight0 {
                font-size: 80%;
            }
