@page "/admin/settings/custom-css"
@model Moonglade.Web.Pages.Settings.CustomStyleSheetModel
@Html.AntiForgeryToken()

@{
    <script>
        var needLoadInitValues = @((!string.IsNullOrWhiteSpace(Model.ViewModel.CssCode)).ToString().ToLower());
    </script>
}

@{
    ViewBag.SkipJQueryValidation = true;
}

@section scripts{
    <script>var require = { paths: { 'vs': '/lib/monaco-editor/min/vs' } };</script>
    <script src="~/lib/monaco-editor/min/vs/loader.js"></script>
    <script>
        var cssContentEditor = null;

        require(['vs/editor/editor.main'], function () {
            initCssEditor();
        });

        var initCssEditor = function () {
            var cssContentEditorDiv = document.getElementById('CssContentEditor');
            cssContentEditor = monaco.editor.create(cssContentEditorDiv, {
                language: 'css'
            });
            cssContentEditor.layout();

            if (needLoadInitValues) {
                var cssValue = $("#ViewModel_CssCode").val();
                window.cssContentEditor.setValue(cssValue);
            }
        }

        var assignEditorValues = function () {
            var cssValue = window.cssContentEditor.getValue();
            $("#ViewModel_CssCode").val(cssValue);
        }

        function handleSubmit(event) {
            assignEditorValues();
            handleSettingsSubmit(event);
        }

        const form = document.querySelector('#form-settings');
        form.addEventListener('submit', handleSubmit);
    </script>
}

@section head{
    <style>
        .monaco-target {
            border: 1px solid #dee2e6;
            width: 100%;
            min-height: 512px;
        }
    </style>
}

<partial name="_SettingsHeader" />
<div class="ps-4 pe-4">
    <form id="form-settings" asp-controller="Settings" asp-action="CustomStyleSheet">
        <div class="form-check form-switch mb-3">
            <input type="checkbox" name="EnableCustomCss" value="true" class="form-check-input" @(Model.ViewModel.EnableCustomCss ? "checked" : null)>
            <label asp-for="ViewModel.EnableCustomCss" class="form-check-label"></label>
        </div>

        <div id="CssContentEditor" class="monaco-target">

        </div>
        <textarea asp-for="ViewModel.CssCode" class="settings-csscontent-textarea d-none"></textarea>
        <div>
            <span asp-validation-for="ViewModel.CssCode" class="text-danger"></span>
        </div>

        <div class="mt-3">
            <button type="submit" class="btn btn-outline-accent" id="btn-submit">
                @Localizer["Save"]
            </button>
        </div>
    </form>
</div>