@page "/admin/settings/watermark"
@model Moonglade.Web.Pages.Settings.WatermarkModel

<partial name="_SettingsHeader" />

<form id="form-settings" asp-controller="Settings" asp-action="Watermark"
      data-ajax-begin="onUpdateSettingsBegin"
      data-ajax-complete="onUpdateSettingsComplete"
      data-ajax-failure="onUpdateSettingsFailed"
      data-ajax-success="onUpdateSettingsSuccess"
      data-ajax="true"
      data-ajax-method="POST">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header">@Localizer["General"]</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" asp-for="ViewModel.IsEnabled" class="custom-control-input">
                            <label asp-for="ViewModel.IsEnabled" class="custom-control-label"></label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" asp-for="ViewModel.KeepOriginImage" class="custom-control-input">
                            <label asp-for="ViewModel.KeepOriginImage" class="custom-control-label"></label>
                        </div>
                    </li>
                </ul>
                <div class="card-body">
                    <div class="mb-2">
                        <label asp-for="ViewModel.FontSize" class="control-label"></label>
                        <input asp-for="ViewModel.FontSize" class="form-control" />
                        <span asp-validation-for="ViewModel.FontSize" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                        <label asp-for="ViewModel.WatermarkText" class="control-label"></label>
                        <input asp-for="ViewModel.WatermarkText" class="form-control" />
                        <span asp-validation-for="ViewModel.WatermarkText" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr />
    <div class="mb-2">
        <input id="btn-save-settings" type="submit" value="@Localizer["Save"]" class="btn btn-success" />
    </div>
</form>