<div class="modal modal-lg fade" id="externalLinkModal" tabindex="-1" role="dialog" aria-labelledby="externalLinkModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-externalLink" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">External Links May Pose a Security Risk</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning">
                    You are about to leave this website and go to an external link. <br />
                    
                    This link could lead to websites with malicious content, phishing attempts, or other security threats. It is important to exercise caution when clicking on any external link.
                </div>
                <p>By continuing to browse this website and accessing any external links, you acknowledge and accept the following:</p>
                <ul>
                    <li>The website owner and administrators are not responsible for the content or security of external websites.</li>
                    <li>Your personal information and computer system may be at risk when visiting external websites.</li>
                    <li>It is your responsibility to ensure the safety and security of your own browsing experience.</li>
                </ul>
                <p>
                    By clicking "Continue," you agree that you are aware of the risks and will proceed at your own discretion.
                </p>
                
                <span>Link URL: </span><span id="extlink-url"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                <a id="extlink-continue" href="#" target="_blank" class="btn btn-accent">Continue</a>
            </div>
        </div>
    </div>
</div>