<div class="modal fade" id="externalLinkModal" tabindex="-1" role="dialog" aria-labelledby="externalLinkModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-externalLink" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">External Link Warning</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    
                </button>
            </div>
            <div class="modal-body">
                <p>You are about to leave this website and go to this external link. We are not responsible for any content or malicious behaviours of this link. Please confirm before continue browsing the link.</p>
                <p id="extlink-url"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a id="extlink-continue" href="#" target="_blank" class="btn btn-primary">Continue</a>
            </div>
        </div>
    </div>
</div>