@if (User.Identity is { IsAuthenticated: true })
{
    @Html.AntiForgeryToken()
    <div class="admin-actions">
        <a class="btn btn-outline-accent btn-sm btn-edit" asp-page="./Admin/EditPage" asp-route-id="@Model.BlogPage.Id">
            <i class="bi-pen"></i>
        </a>
    </div>
}