@model Moonglade.Core.PostFeature.Post
@inject IConfiguration Configuration

<hr />
<div class="row g-1 align-items-center post-slug-actions clearfix mb-2 d-print-none">
    <div class="col-md">
        <section class="post-cat-tag-info">
            <ul class="d-flex flex-row flex-wrap list-unstyled ul-cat-list-desktop mb-0">
                @foreach (var item in Model.Categories)
                {
                    <li>
                        <a class="btn btn-sm btn-outline-secondary mb-1"
                           asp-page="/CategoryList"
                           asp-route-routeName="@item.RouteName.ToLower()">
                            <i class="bi-folder2" aria-hidden="true"></i>
                            @item.DisplayName
                        </a>
                    </li>
                }

                @if (Model.Tags.Length > 0)
                {
                    @foreach (var item in Model.Tags)
                    {
                        <li>
                            <a asp-page="/TagList"
                               asp-route-normalizedName="@item.NormalizedName" class="btn btn-sm btn-outline-secondary mb-1">
                                <i class="bi-tag" aria-hidden="true"></i>
                                @item.DisplayName
                            </a>
                        </li>
                    }
                }
            </ul>
        </section>
    </div>
    @if (null == ViewBag.IsDraftPreview)
    {
        <div class="col-auto">
            <a href="javascript:;" class="text-muted" data-bs-toggle="modal" data-bs-target="#qrcode-window" title="Link to show QR Code for this blog post">
                <i class="bi-qr-code-scan"></i>
            </a>
        </div>
    }
</div>

<partial name="_QRCodeWindow" />