@page

@{
    Layout = "_Layout";
}

@{
    ViewBag.TitlePrefix = "About";
    ViewBag.HideSideBar = true;
}

@section head{
<style>
    .msportalfx-svg-c01 {
        fill: #fff;
    }

    .msportalfx-svg-c03 {
        fill: #a0a1a2;
    }

    .msportalfx-svg-c04 {
        fill: #7a7a7a;
    }

    .msportalfx-svg-c06 {
        fill: #1e1e1e;
    }

    .msportalfx-svg-c10 {
        fill: #ff8c00;
    }

    .msportalfx-svg-c11 {
        fill: #fcd116;
    }

    .msportalfx-svg-c13 {
        fill: #b8d432;
    }

    .msportalfx-svg-c14 {
        fill: #7fba00;
    }

    .msportalfx-svg-c15 {
        fill: #59b4d9;
    }

    .msportalfx-svg-c16 {
        fill: #3999c6;
    }

    .msportalfx-svg-c17 {
        fill: #804998;
    }

    .msportalfx-svg-c19 {
        fill: #0072c6;
    }

    .msportalfx-svg-c20 {
        fill: #68217a
    }
</style>
}

@section scripts{
<script>
    $(function () {
        $(".board a[title]").tooltip();
    });
</script>
}

<div class="sec pt-4">
    <div class="container">
        <h3>Me and the Blog</h3>
        <hr />
        <div class="row">
            <div class="col-md-7">
                <section id="self-intro">
                    <blockquote class="blockquote">
                        <p>
                            I am a professional .NET developer, <a href="https://mvp.microsoft.com/en-us/PublicProfile/5002809" target="_blank">Microsoft MVP</a>. My job is to develop website for a fintech company. I also do Windows development besides my job and created a few Apps for the Windows platform.
                        </p>
                        <p>
                            This website is a <a href="https://dot.net" target="_blank">.NET</a> blog system developed by me starting from June 2008. It evolved from ASP.NET WebForms 2.0 with VB to ASP.NET Core 2.2 with C#. It's now <a href="https://github.com/EdiWang/Moonglade" target="_blank">open source</a> to the community.
                        </p>
                    </blockquote>
                    <p>
                        Contact me: <a href="mailto:Edi.Wang@outlook.com">Edi.Wang@outlook.com</a>
                    </p>
                    <div>
                        <a href="https://github.com/EdiWang" class="btn btn-outline-success" target="_blank">
                            <i class="fab fa-fw fa-github"></i>
                            GitHub
                        </a>
                    </div>
                </section>
            </div>
            <div class="col-md-5">
                <div>
                    <img class="img-fluid img-thumbnail d-block" src="https://ews.azureedge.net/web-assets/edi-at-o365.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sec sec-alter">
    <div class="container">
        <h3 class="text-center">Empowered by Azure</h3>
        <p class="text-center">To Achieve More</p>
        <hr />
        <blockquote class="blockquote mb-5">
            <p>
                This blog is hosted on <a href="https://azure.microsoft.com/en-us/">Microsoft Azure</a>, <!-- the only true cloud and --> the best cloud on the planet. By using Azure services and the .NET platform, it has achieved global availability with great performance and high DevOps productivity. <!-- just by a single developer without 996 and fu bao -->
            </p>
        </blockquote>
        <div class="row">
            <div class="col-md-3 col-sm-6 mb-5 text-center">
                <div class="arch-media-logo">
                    <svg viewBox="0 0 50 50" role="presentation" focusable="false" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M40.193 44.839a24.898 24.898 0 0 1-15.167 5.151c-7.52 0-14.956-3.376-19.87-9.803C-3.24 29.225-1.168 13.548 9.814 5.148 14.343 1.663 19.686 0 24.979 0c7.52 0 14.958 3.376 19.87 9.809 8.398 10.959 6.305 26.639-4.656 35.03" class="msportalfx-svg-c15"></path><path d="M35.6 29.378a5.385 5.385 0 0 0 7.541 1.004c.123-.094.218-.208.33-.309 2.409 1.697 4.082 2.817 5.025 3.459.279-.723.472-1.417.67-2.142a130.857 130.857 0 0 1-4.29-3.356c.639-1.68.437-3.64-.73-5.171a5.36 5.36 0 0 0-6.936-1.377 224.317 224.317 0 0 1-8.293-7.833c9.165-4.929 15.676-4.207 15.676-4.207-1.087-1.386-2.305-2.6-3.606-3.697-3.865-.597-9.869-.53-16.729 3.119l-.002-.003h-.001a200.322 200.322 0 0 1-6.983-7.712A23.264 23.264 0 0 0 13.96 2.5c1.749 2.862 4.102 5.749 6.754 8.565l.017.017a46.293 46.293 0 0 0-6.944 6.015c-.29.309-.569.62-.842.931a7.546 7.546 0 0 0-4.117.282C6.564 13.425 6.746 9.501 7.104 7.478c-.983 1.03-1.901 2.113-2.692 3.267-.591 2.415-.759 5.898.985 10.095a7.538 7.538 0 0 0-.005 9.153c.176.229.364.442.559.645a37.87 37.87 0 0 0-1.46 8.761c.237.322.237.582.472.896 1.199 1.538 2.705 2.834 4.16 4.008-.18-2.75.014-6.806 1.714-11.372a7.507 7.507 0 0 0 3.483-.566c.64.563 1.31 1.132 2.025 1.711a41.672 41.672 0 0 0 7.285 4.643 4.974 4.974 0 0 0 .968 3.518 4.998 4.998 0 0 0 6.983.919 4.918 4.918 0 0 0 1.108-1.216c3.889.866 7.287 1.019 9.806 1.019.386 0 2.177-2.436 3.203-3.946-1.534.321-6.083.946-12.3-.84a4.952 4.952 0 0 0-.898-1.98c-1.579-2.07-4.466-2.518-6.618-1.133a46.853 46.853 0 0 1-6.758-4.49 46.422 46.422 0 0 1-1.359-1.118 7.578 7.578 0 0 0 .318-7.55c.286-.286.567-.573.871-.857 2.311-2.159 4.485-3.887 6.519-5.274-.082-.076-.156-.156-.236-.233.081.075.157.152.239.227l-.002.001c3.121 2.886 6.43 5.621 9.564 8.065-.829 1.758-.699 3.899.562 5.547z" class="msportalfx-svg-c01"></path></g></svg>
                </div>
                <hr />
                <div>
                    <h5>
                        <a href="https://azure.microsoft.com/en-us/services/app-service/web/" target="_blank">
                            Azure App Services
                        </a>
                    </h5>
                    <p>
                        Host website, manage SSL
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-5 text-center">
                <div class="arch-media-logo">
                    <svg viewBox="-0.5 0.5 50 50" role="presentation" focusable="false" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M-.5 7.288v36.111c0 3.749 8.392 6.789 18.743 6.789v-42.9H-.5z" class="msportalfx-svg-c19"></path><path d="M17.986 50.187h.257c10.351 0 18.743-3.038 18.743-6.788V7.288h-19v42.899z" class="msportalfx-svg-c19"></path><path opacity="0.15" d="M17.986 50.187h.257c10.351 0 18.743-3.038 18.743-6.788V7.288h-19v42.899z" class="msportalfx-svg-c01"></path><path d="M36.986 7.288c0 3.749-8.392 6.788-18.743 6.788S-.5 11.037-.5 7.288 7.892.5 18.243.5s18.743 3.039 18.743 6.788" class="msportalfx-svg-c01"></path><path d="M33.154 6.897c0 2.475-6.676 4.479-14.911 4.479S3.331 9.372 3.331 6.897c0-2.474 6.677-4.479 14.912-4.479s14.911 2.005 14.911 4.479" class="msportalfx-svg-c14"></path><path d="M30.03 9.634c1.952-.757 3.125-1.705 3.125-2.735 0-2.475-6.676-4.48-14.912-4.48-8.235 0-14.911 2.005-14.911 4.48 0 1.03 1.173 1.978 3.125 2.735 2.726-1.058 6.986-1.741 11.786-1.741 4.801 0 9.059.683 11.787 1.741" class="msportalfx-svg-c13"></path><path d="M12.29 31.354c0 1.122-.407 1.991-1.221 2.607-.814.616-1.938.924-3.373.924-1.221 0-2.241-.22-3.061-.66v-2.64c.946.803 1.988 1.205 3.126 1.205.55 0 .975-.11 1.275-.33s.45-.511.45-.875c0-.357-.144-.668-.433-.932s-.876-.605-1.761-1.023c-1.804-.846-2.706-2.002-2.706-3.464 0-1.061.393-1.912 1.18-2.553.786-.64 1.831-.961 3.134-.961 1.155 0 2.111.152 2.871.454v2.466c-.797-.55-1.705-.825-2.722-.825-.511 0-.915.108-1.212.325a1.026 1.026 0 0 0-.445.87c0 .374.119.681.359.92.239.239.73.535 1.472.887 1.106.523 1.893 1.053 2.364 1.592.468.54.703 1.211.703 2.013zm12.727-2.672c0 1.391-.317 2.599-.949 3.621-.633 1.023-1.523 1.74-2.672 2.153l3.431 3.176h-3.464l-2.45-2.747c-1.05-.038-1.998-.316-2.842-.833-.844-.516-1.496-1.225-1.955-2.124s-.689-1.902-.689-3.007c0-1.226.249-2.319.746-3.279.498-.96 1.197-1.698 2.099-2.215.902-.516 1.935-.775 3.102-.775 1.088 0 2.063.25 2.924.751.86.5 1.528 1.212 2.004 2.136.477.924.715 1.972.715 3.143zm-2.804.149c0-1.199-.261-2.146-.784-2.842s-1.237-1.044-2.145-1.044c-.924 0-1.663.349-2.219 1.047-.555.699-.833 1.628-.833 2.788 0 1.155.272 2.077.816 2.767.545.69 1.267 1.035 2.169 1.035.919 0 1.647-.334 2.186-1.002.54-.667.81-1.584.81-2.749zm11.803 5.848h-7.044V22.851h2.664v9.667h4.38z" class="msportalfx-svg-c01"></path><path d="M34.755 49.584l2.123.916.224-.265 1.7-1.999 1.719.01 1.973 2.254 2.135-.887-.023-.347-.185-2.643 1.225-1.234 2.957.168.897-2.167-.258-.229-1.96-1.738.012-1.756 2.205-2.016-.866-2.179-.342.025-2.588.186-1.206-1.249.164-3.02-2.124-.914-.224.265-1.702 2-1.72-.011-1.975-2.251-2.134.884.026.35.181 2.64-1.224 1.234-2.955-.168-.896 2.167.259.229 1.959 1.736-.012 1.756-2.207 2.016.867 2.179.343-.025 2.587-.186 1.208 1.251-.163 3.018zm.608-10.956c1.012-2.452 3.778-3.6 6.177-2.565 2.402 1.036 3.525 3.858 2.513 6.308-1.013 2.451-3.78 3.598-6.179 2.565-2.4-1.034-3.524-3.857-2.511-6.308" class="msportalfx-svg-c03"></path></g></svg>
                </div>
                <hr />
                <div>
                    <h5>
                        <a href="https://azure.microsoft.com/en-us/services/sql-database/" target="_blank">
                            Azure SQL Database
                        </a>
                    </h5>
                    <p>
                        Store blog relational data
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-5 text-center">
                <div class="arch-media-logo">
                    <svg viewBox="0 0 50 50" class="fxs-portal-svg" role="presentation" focusable="false" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="FxSymbol0-048"><g><title></title><path d="M0 45.1c0 1 .8 1.9 1.8 1.9h46.3c1 0 1.9-.8 1.9-1.9V12H0v33.1z" class="msportalfx-svg-c03"></path><path d="M48.1 4.1H1.8C.8 4.1 0 5 0 6v6h50V6c0-1-.8-1.6-1.9-1.6" class="msportalfx-svg-c04"></path><path d="M4 25.5h42v7H4z" class="msportalfx-svg-c13"></path><path d="M4 15h42v7H4z" class="msportalfx-svg-c01"></path><path d="M4 36h42v7H4z" class="msportalfx-svg-c13"></path><path opacity=".2" d="M2 4C.9 4 0 4.9 0 6v38.6c0 1.1.9 2 2 2h2.2L43.6 4H2z" class="msportalfx-svg-c01"></path></g></svg>
                </div>
                <hr />
                <div>
                    <h5>
                        <a href="https://azure.microsoft.com/en-us/services/storage/blobs/" target="_blank">
                            Azure Blob Storage
                        </a>
                    </h5>
                    <p>
                        Store blog post images
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-5 text-center">
                <div class="arch-media-logo">
                    <svg viewBox="0 0 50 50" class="" role="presentation" focusable="false" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="FxSymbol0-02b"><g><title></title><path d="M25.001 50.001a4.575 4.575 0 0 1-3.261-1.352L1.351 28.261A4.64 4.64 0 0 1 0 25c0-1.214.492-2.402 1.351-3.26L21.74 1.352A4.578 4.578 0 0 1 25.001 0c1.231 0 2.39.48 3.261 1.352L48.648 21.74A4.565 4.565 0 0 1 50 25a4.574 4.574 0 0 1-1.353 3.263L28.262 48.649a4.578 4.578 0 0 1-3.261 1.352" class="msportalfx-svg-c15"></path><path d="M38.614 21.093a3.91 3.91 0 0 0-3.91 3.909c0 .792.239 1.527.645 2.143l-7.744 7.744a4.55 4.55 0 0 0-.656-.373V14.759c1.167-.676 1.961-1.924 1.961-3.37a3.91 3.91 0 0 0-7.818 0c0 1.446.794 2.694 1.96 3.37v19.756a4.48 4.48 0 0 0-.632.353l-7.753-7.753a3.88 3.88 0 0 0 .628-2.113 3.909 3.909 0 1 0-3.908 3.909 3.88 3.88 0 0 0 1.274-.23l8.15 8.15a4.552 4.552 0 1 0 8.387.032l8.173-8.172c.392.132.804.22 1.241.22a3.909 3.909 0 0 0 .002-7.818z" class="msportalfx-svg-c01"></path><path opacity=".5" d="M40.471 24.983l-1.784 1.785L24.065 12.15l1.784-1.784z" class="msportalfx-svg-c01"></path><path opacity=".5" d="M24.166 10.377l1.784 1.785-14.62 14.62-1.785-1.784z" class="msportalfx-svg-c01"></path><path d="M27.665 38.614a2.71 2.71 0 1 1-5.42-.002 2.71 2.71 0 0 1 5.42.002m-.491-27.225a2.174 2.174 0 1 1-4.347 0 2.174 2.174 0 0 1 4.347 0M13.563 25.001a2.175 2.175 0 1 1-4.35-.002 2.175 2.175 0 0 1 4.35.002m27.225 0a2.175 2.175 0 1 1-4.35-.002 2.175 2.175 0 0 1 4.35.002" class="msportalfx-svg-c13"></path><path opacity=".1" d="M28.262 1.352A4.578 4.578 0 0 0 25.001 0c-1.231 0-2.389.48-3.26 1.352L1.352 21.74A4.635 4.635 0 0 0 0 25c0 1.215.492 2.403 1.352 3.261l11.543 11.544L34.61 7.699l-6.348-6.347z" class="msportalfx-svg-c01"></path></g></svg>
                </div>
                <hr />
                <div>
                    <h5>
                        <a href="https://azure.microsoft.com/en-us/services/active-directory/" target="_blank">
                            Azure Active Directory
                        </a>
                    </h5>
                    <p>
                        SSO Authentication
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-5 text-center">
                <div class="arch-media-logo">
                    <svg viewBox="0 0 50 50" class="" role="presentation" focusable="false" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="FxSymbol0-027"><g><title></title><path d="M19.8 39.4h10.6v3.4H19.8zM23.1 50H27l3.3-3.5H19.8z" class="msportalfx-svg-c04"></path><path d="M41.2 14.7v-.3C41.2 6.7 34.6.3 26.5.2c-.2-.3-4.8.1-4.8.1-7.3.9-13 7-13 14.1 0 .2-.8 5.8 4.9 10.5 2.6 2.3 5.3 8.5 5.7 10.3l.3.6h10.6l.3-.6c.4-1.8 3.2-8 5.7-10.2 5.7-4.8 5-10.1 5-10.3z" class="msportalfx-svg-c20"></path><path d="M30.4 18.1l-1.7 10.6h-2V18.2l.1-.2c3.8 0 3.3-3.5 3.3-3.5H19.8v.3c0 .8.3 3.3 3.5 3.3v10.6h-2l-.5-2.5-1.3-8.1c-2.3 0-3-1.5-3.3-2.6v-1.4c0-2.8 3.2-3.1 3.2-3.1h11s3.5.4 3.5 3.5c-.1 0 0 3.6-3.5 3.6z" class="msportalfx-svg-c01"></path><path opacity=".15" d="M41.2 16.4c.1-1 0-1.7 0-1.8v-.3C41.2 6.6 34.6.2 26.5.1c-.2-.3-4.8.1-4.8.1-7.3.9-13 7-13 14.1 0 .1-.1.9 0 2.1h32.5z" class="msportalfx-svg-c01"></path></g></svg>
                </div>
                <hr />
                <div>
                    <h5>
                        <a href="https://azure.microsoft.com/en-us/services/monitor/" target="_blank">
                            Azure Application Insights
                        </a>
                    </h5>
                    <p>
                        Monitor website from end to end
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-5 text-center">
                <div class="arch-media-logo">
                    <svg viewBox="-374 616 50 50" class="" role="presentation" focusable="false" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="FxSymbol0-01a"><g><title></title><circle cx="-349" cy="641" r="25" class="msportalfx-svg-c19"></circle><path opacity=".2" d="M-366.678 658.678c-9.763-9.763-9.763-25.592 0-35.355 9.763-9.763 25.592-9.763 35.355 0l-35.355 35.355z" class="msportalfx-svg-c01"></path><path opacity=".8" d="M-326 640.996c0-5.152-1.748-10.12-4.968-14.168l-.184-.184c-.092-.092-.092-.184-.184-.276l-1.472-1.564c-4.324-4.416-10.028-6.808-16.192-6.808h-.184c-6.072.092-11.684 2.392-16.008 6.716l-1.564 1.656c-.092.092-.092.184-.184.276l-.184.092a23.446 23.446 0 0 0-4.876 14.26c0 5.152 1.748 10.12 4.968 14.168l.184.184c.092.092.092.184.184.276l1.472 1.564c4.324 4.324 9.936 6.716 16.008 6.716h.184a22.837 22.837 0 0 0 16.192-6.716l1.472-1.656c.092-.092.092-.184.184-.276l.184-.184c3.22-3.864 4.968-8.924 4.968-14.076zM-335.292 626c-.092 0-.184.092-.276.092-.184.092-.368.184-.46.184-.368.184-.828.276-1.288.46-.092 0-.184.092-.276.092-.552.184-1.012.276-1.564.46-.092 0-.276.092-.368.092-.828-2.208-1.84-4.14-3.036-5.612 2.668.828 5.152 2.3 7.268 4.232zm-13.892-5.336h.092c2.484 0 5.06 2.668 6.9 7.268-2.116.368-4.416.552-6.808.552s-4.784-.184-6.992-.552c1.748-4.508 4.324-7.176 6.808-7.268zm-6.532 1.196c-1.104 1.472-2.116 3.312-2.944 5.52h-.184c-.552-.184-1.104-.276-1.564-.46-.092 0-.184-.092-.276-.092-.368-.184-.828-.368-1.196-.552-.184-.092-.276-.092-.46-.184-.092-.092-.184-.092-.368-.184 2.116-1.748 4.416-3.22 6.992-4.048zm-6.992 34.132c.092 0 .184-.092.276-.092.184-.092.276-.092.46-.184.368-.184.828-.276 1.288-.46.092 0 .184-.092.276-.092.552-.184 1.012-.276 1.564-.46h.184c.828 2.116 1.84 4.048 2.944 5.52-2.576-.92-4.968-2.392-6.992-4.232zm13.616 5.336h-.092c-2.484-.092-5.06-2.668-6.808-7.176 2.208-.368 4.6-.552 6.992-.552s4.6.184 6.808.552c-1.748 4.508-4.416 7.176-6.9 7.176zm6.532-1.104c1.196-1.472 2.208-3.404 3.036-5.612.092 0 .276.092.368.092.552.184 1.104.276 1.564.46.092 0 .184.092.276.092.46.184.828.276 1.288.46.184.092.276.092.46.184.092 0 .184.092.368.184-2.208 1.84-4.692 3.312-7.36 4.14zm9.292-6.348c-.276 0-.46-.092-.736-.184-.276-.092-.644-.276-.92-.368-.092 0-.184-.092-.276-.092-1.104-.46-2.3-.736-3.496-1.104.276-1.104.552-2.208.736-3.312h-2.76c-.184 1.012-.368 1.932-.644 2.76-2.392-.46-4.968-.644-7.636-.644-2.76 0-5.336.276-7.82.736-.276-.92-.46-1.84-.644-2.852h-2.76c.184 1.196.46 2.3.736 3.404-1.104.276-2.208.644-3.22 1.012-.092.092-.276.092-.368.184-.276.092-.644.276-.92.368-.184 0-.46.092-.644.184-2.76-3.312-4.324-7.452-4.6-11.684h2.3v-2.668h-2.3c.276-4.232 1.84-8.28 4.508-11.5l.092-.092c.184.092.46.184.644.276.368.184.644.276 1.012.46.092 0 .184.092.276.092 1.012.368 2.116.736 3.312 1.012-.276 1.012-.46 2.024-.644 3.036h2.76c.184-.828.368-1.748.552-2.484 2.484.46 5.152.736 7.82.736s5.244-.276 7.636-.644c.184.736.368 1.564.552 2.484h2.76c-.184-1.012-.368-2.024-.644-3.036 1.196-.276 2.3-.644 3.404-1.104.092 0 .276-.092.368-.092.368-.092.644-.276 1.012-.368.184-.092.46-.184.644-.276 2.668 3.312 4.324 7.36 4.6 11.592h-2.76v2.668h2.76c-.46 4.14-2.024 8.28-4.692 11.5z" class="msportalfx-svg-c01"></path><path d="M-354.778 640.855c0 1.09-.143 2.023-.427 2.797-.284.775-.694 1.407-1.226 1.896-.533.49-1.18.85-1.943 1.079-.762.229-1.67.344-2.723.344h-2.838a.758.758 0 0 1-.51-.178c-.138-.12-.206-.314-.206-.583v-10.36c0-.27.069-.464.206-.583a.75.75 0 0 1 .51-.179h3.049c1.059 0 1.958.124 2.696.373.738.248 1.359.615 1.865 1.102a4.74 4.74 0 0 1 1.153 1.804c.262.715.394 1.546.394 2.488zm-2.498.083a5.95 5.95 0 0 0-.198-1.571 3.35 3.35 0 0 0-.634-1.258 2.936 2.936 0 0 0-1.121-.831c-.456-.2-1.054-.299-1.796-.299h-1.222v8.082h1.259c.661 0 1.218-.085 1.672-.257.453-.172.831-.43 1.134-.776s.53-.776.68-1.291c.15-.513.226-1.113.226-1.799zm14.281 5.19a.84.84 0 0 1-.272.652.746.746 0 0 1-.293.16 1.201 1.201 0 0 1-.345.051h-1.028c-.215 0-.399-.021-.557-.064a1.1 1.1 0 0 1-.431-.234 2.041 2.041 0 0 1-.381-.459 8.307 8.307 0 0 1-.412-.749l-2.958-5.557c-.172-.33-.346-.687-.523-1.07a19.082 19.082 0 0 1-.478-1.116h-.018a45.173 45.173 0 0 1 .073 2.671v6.218a.284.284 0 0 1-.051.166.381.381 0 0 1-.175.124c-.083.034-.195.06-.335.077a4.215 4.215 0 0 1-.542.028c-.214 0-.392-.009-.533-.028s-.251-.044-.33-.077a.344.344 0 0 1-.166-.124.311.311 0 0 1-.046-.166V635.95c0-.288.084-.503.252-.648a.925.925 0 0 1 .62-.216h1.294c.233 0 .429.02.588.06.159.04.301.105.427.198.125.092.245.219.354.381.11.163.223.363.339.602l2.315 4.344c.133.263.268.523.399.776s.259.509.381.763l.358.748c.116.245.229.49.339.735h.009a59.588 59.588 0 0 1-.054-2.672v-5.575c0-.061.018-.116.054-.166a.43.43 0 0 1 .184-.128c.085-.037.199-.063.339-.078.141-.016.322-.023.542-.023.208 0 .381.007.523.023.141.016.249.041.327.078.075.037.13.079.161.128.03.05.045.104.045.166v10.682h.005zm9.635-2.72c0 .626-.117 1.173-.349 1.644a3.393 3.393 0 0 1-.946 1.18 4.127 4.127 0 0 1-1.397.712 5.94 5.94 0 0 1-1.708.238c-.41 0-.791-.034-1.143-.101a6.557 6.557 0 0 1-.932-.243 3.968 3.968 0 0 1-.675-.299 1.939 1.939 0 0 1-.391-.276.7.7 0 0 1-.17-.344 3.192 3.192 0 0 1-.051-.648c0-.19.006-.349.019-.477.012-.129.031-.233.06-.313a.343.343 0 0 1 .11-.17.269.269 0 0 1 .161-.051c.086 0 .207.051.362.152.156.1.357.213.602.335.245.122.537.234.877.335.339.101.733.152 1.18.152a2.7 2.7 0 0 0 .789-.106c.232-.071.43-.17.592-.299.162-.128.285-.287.372-.477.086-.19.129-.401.129-.634 0-.27-.074-.5-.221-.693a2.187 2.187 0 0 0-.575-.515 5.887 5.887 0 0 0-.803-.422c-.3-.132-.61-.271-.927-.419a8.54 8.54 0 0 1-.927-.5c-.3-.187-.569-.41-.803-.671a3.182 3.182 0 0 1-.575-.924c-.148-.355-.221-.78-.221-1.277 0-.569.106-1.07.317-1.502a3.1 3.1 0 0 1 .854-1.075c.359-.284.781-.498 1.268-.638s1.003-.211 1.547-.211a5.69 5.69 0 0 1 1.634.239c.244.074.463.156.652.248.19.092.316.168.376.23a.674.674 0 0 1 .124.156c.022.043.04.1.055.17.016.071.026.159.031.267a7.218 7.218 0 0 1-.005.85 1.804 1.804 0 0 1-.045.303.37.37 0 0 1-.092.175.228.228 0 0 1-.161.055c-.068 0-.175-.042-.322-.128s-.328-.179-.542-.281a5.325 5.325 0 0 0-.743-.276 3.273 3.273 0 0 0-.927-.124c-.263 0-.493.032-.688.097a1.391 1.391 0 0 0-.491.267 1.05 1.05 0 0 0-.294.408 1.342 1.342 0 0 0-.096.505c0 .263.072.491.215.685.144.193.337.364.579.514.242.15.516.291.823.422.306.132.618.271.937.419.318.147.63.314.937.5.306.187.578.41.818.671.238.26.431.567.578.919.148.355.222.769.222 1.246z" class="msportalfx-svg-c01"></path></g></svg>
                </div>
                <hr />
                <div>
                    <h5>
                        <a href="https://azure.microsoft.com/en-us/services/dns/" target="_blank">
                            Azure DNS
                        </a>
                    </h5>
                    <p>
                        Manage domain “edi.wang”
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-5 text-center">
                <div class="arch-media-logo">
                    <svg viewBox="0 0 50 50" class="" role="presentation" focusable="false" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="FxSymbol0-025"><g><title></title><path d="M34.9 16.8H8.3c-1.1 0-2-.9-2-2s.9-2 2-2h26.6c1.1 0 2 .9 2 2s-.9 2-2 2zm-5.4 16.7H4.9c-1.1 0-2-.9-2-2s.9-2 2-2h24.6c1.1 0 2 .9 2 2s-.9 2-2 2zm-2.9-8.1H2c-1.1 0-2-.9-2-2s.9-2 2-2h24.6c1.1 0 2 .9 2 2s-.9 2-2 2z" class="msportalfx-svg-c04"></path><path d="M50 29.2c0-2.4-1.9-4.3-4.2-4.3h-.6c.2-.9.4-1.9.4-3 0-6.2-5.1-11.2-11.2-11.2-4.9 0-9.1 3.3-10.6 7.6-.8-.2-1.6-.4-2.5-.4-4.3 0-7.6 3.5-7.6 7.8s3.4 7.8 7.6 7.8H46c2.3-.3 4-2.1 4-4.3" class="msportalfx-svg-c16"></path><path d="M25.3 33.4c-1-1-1.8-2.2-2.1-3.8-.9-4.2 1.6-8.3 5.7-9.2.9-.2 1.7-.2 2.6-.1.3-3.9 2.7-7.3 6.3-9-1.1-.3-2.2-.6-3.4-.6-4.9 0-9.1 3.3-10.6 7.6-.8-.2-1.6-.4-2.5-.4-4.3 0-7.6 3.5-7.6 7.8s3.4 7.8 7.6 7.8l4-.1z" opacity=".2" class="msportalfx-svg-c01"></path></g></svg>
                </div>
                <hr />
                <div>
                    <h5>
                        <a href="https://azure.microsoft.com/en-us/services/cdn/" target="_blank">
                            Azure CDN
                        </a>
                    </h5>
                    <p>
                        Deliver static resources
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-5 text-center">
                <div class="arch-media-logo">
                    <svg viewBox="0 0 40 40" class="" role="presentation" focusable="false" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="FxSymbol0-01e"><g><title></title><path d="M38 8.6v22L28.9 38l-14-5.1V38L7.1 27.7l23.1 1.8V9.7L38 8.6zm-7.7 1.1L17.4 2v5.1L5.5 10.6 2 15.2v10.4l5.1 2.2V14.5l23.2-4.8z" fill="#0078d4"></path></g></svg>
                </div>
                <hr />
                <div>
                    <h5>
                        <a href="https://azure.microsoft.com/en-us/services/devops/" target="_blank">
                            Azure DevOps
                        </a>
                    </h5>
                    <p>
                        CI / CD from GitHub to Azure
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sec">
    <div class="container">
        <h3 class="text-center">
            The Journey of Edi.Wang
        </h3>
        <p class="text-center">Development History</p>
        <hr />
        <div class="timeline-box">
            <img src="https://ews.azureedge.net/web-assets/about/bg1.png" class="img-fluid img-timeline" style="        top: 45px;
        right: 60px" />
            <img src="https://ews.azureedge.net/web-assets/about/bg2.png" class="img-fluid img-timeline" style="        top: 335px;
        left: 80px" />
            <img src="https://ews.azureedge.net/web-assets/about/bg3.png" class="img-fluid img-timeline" style="        bottom: 800px;
        right: 80px" />
            <img src="https://ews.azureedge.net/web-assets/about/bg4.png" class="img-fluid img-timeline" style="        bottom: 505px;
        left: 80px" />
            <img src="https://ews.azureedge.net/web-assets/about/bg5.png" class="img-fluid img-timeline" style="        bottom: 300px;
        right: 80px" />
            <ul class="timeline">
                <li>
                    <div class="timeline-badge success">
                        <i class="fas fa-tree"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">2003</h4>
                        </div>
                        <div class="timeline-body">
                            <p>
                                When I was in junior middle school, I was so interested in computer technologies. I studied ASP programming by myself and built my first personal website: <i>HackerInn</i>. This site provides cyber security information and showcase my works.
                            </p>
                            <p>
                                After I entered high school, due to busy school study, I don't have enough time to continue working on my site. As a result, <i>HackerInn</i> was faded out of the Internet.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge info">
                        <i class="fas fa-graduation-cap"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">2008</h4>
                        </div>
                        <div class="timeline-body">
                            <p>
                                After college entrance examination, I planned to build a brand new personal website for demostrating my works.
                            </p>
                            <div class="rounded-list">
                                <ol>
                                    <li>
                                        <p>Use Windows Aero style as visual design, make the website looks gorgeous.</p>
                                    </li>
                                    <li>
                                        <p>Use XHTML + CSS as a replacement for table layout, targeting latest browser standards.</p>
                                    </li>
                                    <li>
                                        <p>Use ASP.NET + C# as framework and language of development. Improve significantly on both functionality and security.</p>
                                    </li>
                                </ol>
                            </div>
                            <p>
                                After one year development, the website finally came online in July 2009.
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge warning">
                        <i class="fas fa-road"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">2011</h4>
                            <p class="text-muted">Code Name: Nordrassil</p>
                        </div>
                        <div class="timeline-body">
                            <p>
                                New design came out. Clean and unified looks and feels made it easier to browse, RSS and SEO were also improved.
                            </p>
                            <p>
                                Dropped support for IE6.0 and added some CSS3 features.
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge danger">
                        <i class="fas fa-code"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">2012</h4>
                        </div>
                        <div class="timeline-body">
                            <p>
                                UI theme changed to facebook style.
                            </p>
                            <p>
                                Finished development of EdiBlog 7.0. The website was renamed to "diaosbook", it's the first version using ASP.NET MVC.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge success">
                        <i class="fas fa-cloud"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">2013</h4>
                        </div>
                        <div class="timeline-body">
                            <p>
                                Redesigned using Bootstrap as front-end framework.
                            </p>
                            <p>
                                Optimized for cloud hosting and mobile devices.
                            </p>
                            <p>
                                Host by Microsoft Azure.
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge info">
                        <i class="fas fa-mobile-alt"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">2015</h4>
                        </div>
                        <div class="timeline-body">
                            <p>
                                Migrated to new domain name: edi.wang.
                            </p>
                            <p>
                                Changed website UI to English to go international.
                            </p>
                            <p>
                                Enhance RWD for different screen sizes.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge warning">
                        <i class="fas fa-cubes"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">2018</h4>
                            <p class="text-muted">Code Name: Moonglade</p>
                        </div>
                        <div class="timeline-body">
                            <p>
                                Upgrade to FontAwesome 5 and Bootstrap 4.
                            </p>
                            <p>
                                Enhance website performance.
                            </p>
                            <p>
                                Integration with AzureAD.
                            </p>
                            <p>
                                Completely rewrite blog system with <a href="https://dot.net" target="_blank">.NET Core</a>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>