@page
@{
    Layout = "_Layout";
}

@{
    ViewBag.HideSideBar = true;
}
@section scripts{
    <script>
        var isWin10 = function () {
            var e = navigator.userAgent.toLowerCase();
            return e.indexOf("windows nt 10") >= 0;
        }

        $(function () {
            if (isWin10) {
                $("#a-win10-store").show();
            }
        });
    </script>
}

@section head{
    <style>
        .into-block-body-md {
            height: 130px;
        }

        .title-box {
            background-image: url(/images/img0.jpg);
            background-color: #000;
            padding: 70px 0;
        }

        @@media(max-width: 767px) {
            .into-block-body-md {
                height: inherit;
            }
        }
    </style>
}

<div class="sec pt-4">
    <div class="container">
        <section id="featured">
            <h3>Tracing</h3>
            <hr />
            <div class="row">
                <div class="col-md-5">
                    <img src="https://ediwangstorage.blob.core.windows.net/web-assets/tracing-main-1024.png" class="img-fluid img-thumbnail" />
                </div>
                <div class="col-md-7">
                    <blockquote class="blockquote">
                        如果你喜欢画图但并不专业，没关系！只要选择你喜爱的图片，使用触控笔标描绘轮廓，就可以保存、分享或打印您的墨迹！拥有大量新特性及易用性改进，并支持Surface Dial等轮盘设备！
                    </blockquote>
                    <p>For Windows 10 v1803 and above</p>
                    <div>
                        <a href="https://www.microsoft.com/en-us/store/p/tracing/9nblggh6czcl" target="_blank" class="btn btn-success">Microsoft Store</a>
                        <a href="https://docs.edi.wang/tracing" target="_blank" class="btn btn-outline-secondary">Learn More</a>
                        <a href="https://github.com/EdiWang/Tracing-UWP" target="_blank" class="btn btn-outline-secondary">
                            <i class="fab fa-github"></i>
                            GitHub
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="sec sec-alter">
    <div class="container">
        <h3>Character Map UWP</h3>
        <hr />
        <div class="row">
            <div class="col-md-7">
                <blockquote class="blockquote">
                    A modern, native UWP replacement for the Win32 Character Map and Windows Font Viewer with flawless high DPI and touch support.
                </blockquote>
                <div>
                    <ul class="list-unstyled">
                        <li>View all the fonts families installed on your device, and import your own</li>
                        <li>View all the different font faces in a family</li>
                        <li>View all the Characters in a font face, along with typographic variants and color variants</li>
                        <li>View font properties like their designer, description, licenses, etc</li>
                        <li>Copy Characters to your clipboard</li>
                        <li>Copy XAML code for Characters for FontIcon, SymbolIcon and text properties</li>
                        <li>Export Characters as PNG and SVG files</li>
                        <li>Search for unicode characters and Segoe MDL2 Assets</li>
                        <li>Use as your default font file application to preview font files</li>
                    </ul>
                </div>
                <div>
                    <a href="https://www.microsoft.com/en-us/store/p/character-map-uwp/9wzdncrdxf41" class="btn btn-success">Microsoft Store</a>
                    <a href="http://ediwang.github.io/Character-Map-UWP/" target="_blank" class="btn btn-outline-secondary">
                        <i class="fab fa-github"></i>
                        GitHub
                    </a>
                </div>
            </div>
            <div class="col-md-5">
                <img src="https://ediwangstorage.blob.core.windows.net/web-assets/cmap-main.png" class="img-fluid img-thumbnail" />
            </div>
        </div>
    </div>
</div>