@page "/post/{year:int:length(4)}/{month:int:range(1,12)?}"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Moonglade.Core.PostFeature
@{
    ViewBag.TitlePrefix = $"Posts in {ArchiveInfo}";
    ViewBag.BodyClass = "body-archive-list bg-gray-1";
}

<h2 class="page-heading mb-4">
    @ViewBag.TitlePrefix
</h2>

<div>
    @if (!Posts.Any())
    {
        <div class="text-muted text-center">
            - @SharedLocalizer["No Posts"] -
        </div>
    }
    else
    {
        foreach (var item in Posts.OrderByDescending(s => s.PubDateUtc))
        {
            <partial name="_PostListEntry" model="item" />
        }
    }
</div>

@functions
{
    public List<PostDigest> Posts { get; set; }

    public string ArchiveInfo { get; set; }

    public async Task<IActionResult> OnGetAsync(int year, int? month)
    {
        if (year < DateTime.MinValue.Year || year > DateTime.UtcNow.Year) return BadRequest();
        if (month is > 12 or < 0) return BadRequest();

        List<PostDigest> model;

        if (month is not null)
        {
            // {year}/{month}
            ArchiveInfo = new DateTime(year, month.Value, 1).ToString("MMMM yyyy");
            model = await QueryMediator.QueryAsync(new ListArchiveQuery(year, month));
        }
        else
        {
            // {year}
            ArchiveInfo = $"{year}";
            model = await QueryMediator.QueryAsync(new ListArchiveQuery(year));
        }

        Posts = model;
        return Page();
    }
}
