@page "/page/{slug:regex(^(?!-)([a-zA-Z0-9-]){{1,128}}$)}"
@model Moonglade.Web.Pages.BlogPageModel

@{
    ViewBag.TitlePrefix = Model.BlogPage.Title.Trim();
    ViewBag.HideSideBar = Model.BlogPage.HideSidebar;
    ViewBag.MetaDescription = Model.BlogPage.MetaDescription?.Trim();
}

@section head {
    @if (!string.IsNullOrWhiteSpace(Model.BlogPage.CssId))
    {
        <link href="~/content.css?id=@Model.BlogPage.CssId" rel="stylesheet" asp-append-version="true" />
    }
}

<div class="page-content">
    @Html.Raw(Model.BlogPage.HtmlContent)
</div>

<partial name="_PageForestageAdmin" />