@page "/error"
@model Moonglade.Web.Pages.ErrorModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>Website Blow Up</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <style>
        main {
            height: 100vh;
        }

        pre.ascii-art {
            font-family: "Cascadia Code", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
            line-height: 1.15;
            margin: 0 auto;
            width: 300px;
        }
    </style>
</head>
<body>
<div class="container">
    <main class="position-relative">
        <div class="position-absolute top-50 start-50 translate-middle text-center">
            <pre class="ascii-art">
                __------__
              /~          ~\
             |    //^\\//^\|
           /~~\  ||  o| |o|:~\
          | |6   ||___|_|_||:|
           \__.  /      o  \/'
            |   (       O   )
   /~~~~\    `\  \         /
  | |~~\ |     )  ~------~`\
 /' |  | |   /     ____ /~~~)\
(_/'   | | |     /'    |    ( |
       | | |     \    /   __)/ \
       \  \ \      \/    /' \   `\
         \  \|\        /   | |\___|
           \ |  \____/     | |
           /^~>  \        _/ <
          |  |         \       \
          |  | \        \        \
          -^-\  \       |        )
               `\_______/^\______/
            </pre>

            <div class="content">
                <h1>Server Blow Up Sky High</h1>
                @if (Model.ShowRequestId)
                {
                    <p>
                        <strong>Request ID:</strong> <code>@Model.RequestId</code>
                    </p>
                }
                <div>
                    <a class="btn btn-light" asp-page="/Index">Home Page</a>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>