@page "/archive/featured"
@model Moonglade.Web.Pages.FeaturedModel

@{
    ViewBag.TitlePrefix = "Featured Posts";
    ViewBag.BodyClass = "body-featured-list bg-gray-1";
}

<h3 class="mb-4">
    @SharedLocalizer["Featured Posts"]
</h3>

@if (Model.Posts.Any())
{
    <partial name="_PostList" model="Model.Posts" />
}
else
{
    <div class="alert alert-info">
        @SharedLocalizer["No Posts"]
    </div>
}

<partial name="_LightSwitch" />