@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Moonglade.Core.PostFeature
@using Moonglade.Web.PagedList

@{
    ViewBag.TitlePrefix = null;
    ViewBag.BodyClass = "body-home-index bg-gray-1";
    ViewBag.ActionName = "Index";
}

<h2 class="page-heading d-flex align-items-center mb-4">
    <span>
        @SharedLocalizer["All Posts"]
    </span>

    <span class="flex-spacer"></span>

    <a class="d-none d-md-block" asp-controller="Subscription" asp-action="Rss" target="_blank" title="@SharedLocalizer["Subscribe recent posts"]">
        <i class="bi-rss font-125rem"></i>
    </a>
</h2>

@if (Posts.Count > 0)
{
    <partial name="_PostList" model="Posts" />
}
else
{
    <div class="alert alert-info">
        @SharedLocalizer["No Posts"]
    </div>
}

@functions
{
    public BasePagedList<PostDigest> Posts { get; set; }

    public async Task OnGet(int p = 1)
    {
        var pagesize = BlogConfig.ContentSettings.PostListPageSize;

        var posts = await QueryMediator.QueryAsync(new ListPostsQuery(pagesize, p));
        var totalPostsCount = await QueryMediator.QueryAsync(new CountPostQuery(CountType.Public));

        var list = new BasePagedList<PostDigest>(posts, p, pagesize, totalPostsCount);

        Posts = list;
    }
}
