@page
@model Moonglade.Web.Pages.IndexModel

@{
    ViewBag.TitlePrefix = null;
    ViewBag.ActionName = "Index";
}

<h3 class="h3-cat-list">
    <a class="float-end d-none d-md-block" asp-controller="Subscription" asp-action="Rss" target="_blank" title="@Localizer["Subscribe Recent 20 Posts"]">
        <i class="bi-rss font-125rem"></i>
    </a>
    <span>
        @Localizer["All Posts"]
    </span>
</h3>
<hr />

@if (Model.Posts.Any())
{
    <partial name="_PostList" model="Model.Posts" />
}
else
{
    <div class="alert alert-info">
        @Localizer["No Posts."]
    </div>
}

<partial name="_LightSwitch" />