@page "/search"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Moonglade.Core.PostFeature

@section meta
{
    <meta name="robots" content="noindex, nofollow" />
}
@{
    ViewBag.BodyClass = "body-search-list bg-gray-1";
    HttpContext.Response.Headers.Add("X-Robots-Tag", "noindex, nofollow");
}

<h3 class="mb-4">
    @SharedLocalizer["Search Result"]
</h3>

@if (!Posts.Any())
{
    <div class="alert alert-info">
        @SharedLocalizer["No Matching Result"]
    </div>
}
else
{
    foreach (var item in Posts.OrderByDescending(s => s.PubDateUtc))
    {
        <partial name="_PostListEntry" model="item" view-data="@(new ViewDataDictionary(ViewData) { { "SearchTerm", SearchTerm } })" />
    }
}

@functions {
    public List<PostDigest> Posts { get; set; } = new();
    public string SearchTerm { get; set; } = string.Empty;

    public async Task<IActionResult> OnGetAsync(string term)
    {
        if (string.IsNullOrWhiteSpace(term)) return RedirectToPage("Index");

        ViewData["TitlePrefix"] = term;
        SearchTerm = term;

        var posts = await QueryMediator.QueryAsync(new SearchPostQuery(term));
        Posts = posts;

        return Page();
    }
}