@page "/search"
@model Moonglade.Web.Pages.SearchModel
@section meta
{
    <meta name="robots" content="noindex, nofollow" />
}
@{
    HttpContext.Response.Headers.Add("X-Robots-Tag", "noindex, nofollow");
}

<h3>
    @SharedLocalizer["Search Result"]
</h3>
<hr />
@if (!Model.Posts.Any())
{
    <div class="alert alert-info">
        @SharedLocalizer["No Matching Result"]
    </div>
}
else
{
    foreach (var item in Model.Posts.OrderByDescending(s => s.PubDateUtc))
    {
        <partial name="_PostListEntry" model="item" />
        <div class="mb-4 d-none d-md-block"></div>
        <hr class="d-none d-md-block" />
    }
}

<partial name="_LightSwitch" />