@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@model SignInViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>
        Admin Sign In
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <partial name="_Favicons" />
    <link href="~/css/mooglade-css-bundle.min.css" rel="stylesheet" asp-append-version="true" />
    <script src="~/js/app/app-js-bundle.min.js" asp-append-version="true"></script>
    <environment exclude="Development">
        @Html.Raw(JavaScriptSnippet.FullScript)
    </environment>
</head>
<body>
    <form>
        // TODO
    </form>
</body>
</html>