.input-validation-error {
    border: 1px solid var(--bs-danger);
}

.validation-summary-valid {
    display: none;
}

.validation-summary-errors {
    color: var(--bs-danger);
    font-weight: bold;
}

.admin-nav-icon {
    font-size: 16px;
    display: block;
    width: 24px;
}

.admin-body-wrapper {
    overflow-x: hidden;
}

.navbar-brand {
    color: var(--bs-white);
}

.btn-nav-back {
    color: var(--bs-btn-color) !important;
}

    .btn-nav-back:hover {
        color: var(--bs-btn-hover-color) !important;
    }

.aspnet-tag-moonglade-userinfo,
.aspnet-tag-moonglade-userinfo-name,
.aspnet-tag-moonglade-userinfo-email {
    display: inline-block;
}

.aspnet-tag-moonglade-userinfo-name {
    font-weight: bold;
}

.aspnet-tag-moonglade-userinfo-email {
    font-size: 12px;
    margin-left: 6px;
}

    .aspnet-tag-moonglade-userinfo-email:before {
        content: '(';
    }

    .aspnet-tag-moonglade-userinfo-email:after {
        content: ')';
    }

.admin-navbar {
    box-shadow: inherit !important;
}

.admin-nav-head-pic {
    border: 1px solid var(--transparent-light-50);
    height: 24px;
    width: 24px;
}

.admin-nav {
    width: 190px;
    min-height: calc(100vh - 54px);
    border-right: 1px solid var(--bs-border-color);
    display: flex;
    flex-direction: column;

    .list-group-item span {
        width: 22px;
        font-size: 16px;
        display: inline-block;
    }

    .list-group-item.active {
        color: #000;
    }
}

.admin-nav-bottom {
    margin-top: auto;
}

.admin-main {
    min-width: 100vw;
}

.admin-toolbar {
    margin-bottom: 25px !important;

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background-color: var(--accent-color1);
    }
}

.admin-toolbar-text {
    line-height: 36px;
}

.admin-nav {
    margin-left: 5px;
}

.admin-main {
    min-width: 0;
    width: 100%;
}

.admin-editor-wrapper {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 56px);
    overflow: hidden;
}

.admin-body-wrapper.toggled .admin-nav {
    margin-left: -15rem;
}

.textarea-code {
    font-family: 'Consolas';
    font-size: 12px;
}

.post-content-textarea {
    min-height: calc(100vh - 360px);
}

.post-edit-form .CodeMirror {
    height: 620px;
}

.admin-nav-section .list-group-item {
    border-radius: 5px;
    background-color: transparent;
    border: 0 none;
    padding-left: 12px;
}

    .admin-nav-section .list-group-item .positioning-region {
        display: flex;
        width: 100%;
        position: relative;
        align-items: center;
    }

    .admin-nav-section .list-group-item .content-region {
        display: flex;
        align-items: center;
        white-space: nowrap;
        width: 100%;
        margin-inline-start: 6px;
    }

    .admin-nav-section .list-group-item.active .positioning-region::before,
    .admin-nav-section .list-group-item:hover .positioning-region::before {
        content: "";
        display: block;
        position: absolute;
        right: unset;
        width: 3px;
        height: 18px;
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), var(--accent-color1);
        border-radius: 3px;
        z-index: 5;
    }

    .admin-nav-section .list-group-item:hover {
        background-color: var(--bs-gray-200);
    }

.admin-toolbar .nav-link {
    color: var(--accent-color1);
}

    .admin-toolbar .nav-link:hover,
    .admin-toolbar .nav-link:focus {
        background-color: var(--transparent-dark-2);
    }

.post-editor-catlist ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    .post-editor-catlist ul li {
        display: inline-block;
        width: 100%;
    }

        .post-editor-catlist ul li label {
            display: inline-block;
            font-weight: normal;
            padding-left: 6px;
            vertical-align: middle;
        }

div.mce-fullscreen {
    z-index: 1050;
}

.tagify {
    width: 100% !important;
}

.empty-recycle {
    height: 208px;
    margin: 0 auto;
    padding-top: 52px;
    width: 208px;
}

.ul-tag-mgr {
    line-height: 28px;
    text-align: justify;

    li {
        display: inline-block;
        height: 33px;
        line-height: 33px;
        margin-bottom: 10px;
        vertical-align: top;
    }

        li.updated {
            border: 1px solid var(--bs-green);
        }
}

    .ul-tag-mgr li span.span-tagcontent-editable {
        display: inline-block;
        padding: 0 10px;
        vertical-align: top;
    }

    .ul-tag-mgr li a {
        background-color: var(--bs-gray-200);
        color: var(--bs-gray-dark);
        cursor: pointer;
        display: inline-block;
        font-size: 16px;
        height: 31px;
        padding: 0 5px;
    }

        .ul-tag-mgr li a:hover {
            background-color: var(--bs-red);
            color: var(--bs-white);
        }

    .ul-tag-mgr .tag-postcount {
        border-left: 1px solid var(--bs-gray-400);
        padding: 0 5px;
        text-align: center;
        color: var(--bs-secondary);
    }

.table .table-item-w10 {
    width: 10%;
}

.table .table-item-w20 {
    width: 20%;
}

.table .table-item-w30 {
    width: 30%;
}

.table .table-item-w40 {
    width: 40%;
}

.table .table-item-w50 {
    width: 50%;
}

.table .table-item-w60 {
    width: 60%;
}

.table .table-item-w70 {
    width: 70%;
}

.table .table-item-w80 {
    width: 80%;
}

.table .table-item-w100 {
    width: 100%;
}

.blogadmin-siteicon {
    width: 32px;
    height: 32px;
}

.settings-entry-icon {
    font-size: 24px;
}

.settings-entry .form-switch {
    display: inline-block;
    min-height: inherit;
    margin-bottom: 0;
}

    .settings-entry .form-switch.form-control-lg {
        padding: 0 !important;
    }

.settings-entry {
    margin-left: 0;
    margin-right: 0;
    background-color: var(--bs-white);
}

.tags-dropdown .tagify__dropdown__item {
    display: inline-block;
    border-radius: 3px;
    padding: .3em .5em;
    border: 1px solid #CCC;
    background: #F3F3F3;
    margin: .2em;
    font-size: .85em;
    color: black;
    transition: 0s;
}

.tags-dropdown .tagify__dropdown__item--active {
    color: black;
}

.tags-dropdown .tagify__dropdown__item:hover {
    background: var(--accent-color1);
    border-color: var(--accent-color1);
    color: #fff;
}

.admin-subtitle {
    font-size: 0.9rem;
}

.admin-settings-entry-container {
    height: calc(100vh - 215px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.admin-main-entry-container {
    height: calc(100vh - 230px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.h-30px {
    height: 30px !important;
}

.h-100px {
    height: 100px !important;
}

.h-200px {
    height: 200px !important;
}

.admin-table-container {
    background-color: var(--bs-white);
}

.monaco-target {
    background-color: var(--bs-white);
    border: 1px solid var(--bs-border-color);
    width: 100%;
}

.image-drop-target {
    background-color: var(--bs-gray-200);
    border: 2px dashed var(--bs-gray-400);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-side-options-container,
.admin-taginput-container {
    background-color: var(--bs-white);
}

.admin-tag-item {
    background-color: var(--bs-white);
}

.mention-item-entry,
.admin-comment-entry,
.admin-post-entry {
    background-color: var(--bs-white);
}

.md-editor-image-upload-area {
    border-width: 2px;
    border-style: dashed;
    background-color: var(--bs-secondary-bg);
}

    .md-editor-image-upload-area:focus,
    .md-editor-image-upload-area:hover,
    .md-editor-image-upload-area.drag-over {
        color: var(--bs-warning-text-emphasis) !important;
        background-color: var(--bs-warning-bg-subtle) !important;
        border-color: var(--bs-warning-border-subtle) !important;
    }

[data-bs-theme="dark"] .navbar-brand {
    color: var(--bs-white);
}

[data-bs-theme="dark"] .admin-table-container {
    background-color: var(--bs-body-bg);
}

[data-bs-theme="dark"] .admin-nav-section .list-group-item:hover {
    background-color: var(--bs-body-bg);
}

[data-bs-theme="dark"] .settings-entry {
    background-color: var(--bs-body-bg);
}

[data-bs-theme="dark"] .monaco-target {
    background-color: #1E1E1E;
}

[data-bs-theme="dark"] .image-drop-target {
    background-color: var(--bs-secondary-bg-subtle);
    border: 2px dashed #4F4F4F;
}

[data-bs-theme="dark"] .admin-nav .list-group-item.active {
    color: var(--bs-white)
}

[data-bs-theme="dark"] .admin-side-options-container,
[data-bs-theme="dark"] .admin-taginput-container {
    background-color: var(--bs-body-bg);
}

[data-bs-theme="dark"] .mention-item-entry {
    background-color: var(--bs-body-bg);
}

[data-bs-theme="dark"] .admin-tag-item {
    background-color: var(--bs-body-bg);
}

[data-bs-theme="dark"] .ul-tag-mgr li a {
    background-color: var(--bs-secondary-bg);
    color: var(--bs-white);
}

    [data-bs-theme="dark"] .ul-tag-mgr li a:hover {
        background-color: var(--bs-red);
        color: var(--bs-white);
    }

[data-bs-theme="dark"] .mention-item-entry,
[data-bs-theme="dark"] .admin-comment-entry,
[data-bs-theme="dark"] .admin-post-entry {
    background-color: var(--bs-body-bg);
}

/* tagify override */
[data-bs-theme="dark"] .tagify {
    --tags-border-color: var(--bs-border-color);
    --tags-hover-border-color: var(--bs-light-border-subtle);
    --tag-bg: var(--bs-gray-600);
    --tag-text-color: var(--bs-white);
    --tagify-dd-bg-color: var(--bs-border-color);
    --tagify-dd-text-color: var(--bs-white);
}

[data-bs-theme="dark"] .tagify__tag__removeBtn {
    color: var(--bs-white);
}

[data-bs-theme="dark"] .tagify__dropdown__wrapper {
    background: var(--bs-body-bg);
}

[data-bs-theme="dark"] .tags-dropdown .tagify__dropdown__item {
    border: 1px solid var(--bs-border-color);
    background: var(--bs-gray-700);
    color: var(--bs-white);
}

[data-bs-theme="dark"] .tags-dropdown .tagify__dropdown__item--active {
    color: var(--bs-white);
}

[data-bs-theme="dark"] .tags-dropdown .tagify__dropdown__item:hover {
    background: var(--accent-color1);
    border-color: var(--accent-color1);
    color: #fff;
}
