:root {
    --transparent-light-20: rgba(255, 255, 255, 0.2);
    --transparent-light-30: rgba(255, 255, 255, 0.3);
    --transparent-light-50: rgba(255, 255, 255, 0.5);
    --transparent-light-60: rgba(255, 255, 255, 0.6);
    --transparent-dark-2: rgba(0, 0, 0, 0.125);
    --transparent-dark-4: rgba(0, 0, 0, 0.175);
    --gray-1: #FAFAFA;
    --gray-2: #EEE;
    --gray-3: #CCC;
    --gray-4: #777;
    --gray-6: #555;
    --gray-7: #333;
}

::selection {
    background-color: var(--accent-color1);
    color: var(--bs-white);
    text-shadow: none;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei";
    font-size: 0.9rem;
}

.blog-sidebar {
    max-width: 300px;
}

a {
    color: var(--accent-color1);
    text-decoration: none;
}

    a:hover,
    a:focus {
        color: var(--accent-color1);
        text-decoration: none;
    }

footer {
    color: var(--transparent-light-60);

    a {
        color: var(--bs-gray-200);
    }

    a:hover {
        color: var(--bs-white);
    }
}

.moonglade-footer {
    background-color: var(--accent-color2);
}

.bg-gray-1 {
    background-color: var(--gray-1);
}

.nav-item-icon {
    width: 16px;
}

.page-heading small {
    font-size: 60%;
}

.font-sairas {
    font-family: "Saira Semi Condensed Bold", "Saira Semi Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei" !important;
    font-weight: bold;
}

.flex-spacer {
    flex-grow: 1;
}

.page-heading {
    font-size: 1.75rem;
}

.page-content .card-header {
    padding: 0.5rem !important;
}

.list-group-item.active,
.page-item.active .page-link {
    background-color: var(--accent-color1);
    border-color: var(--accent-color1);
}

.table .table-item-title {
    text-align: left;
}

.heading-ownername {
    text-shadow: 1px 1px 3px #333;
}

.profile-description,
.profile-pronouns {
    text-shadow: 1px 1px 1px #333;
}

.hottag-li a > span {
    display: block;
    font-size: 30px;
    font-weight: 100;
}

.hottag-li a {
    height: 80px !important;
    width: 156px;
}

.user-avatar-char {
    background-color: var(--bs-purple);
    border-radius: 55px;
    color: var(--bs-white);
    font-size: 30px;
    font-weight: 100;
    height: 55px;
    padding-top: 5px;
    text-align: center;
    width: 55px;
}

.ul-archive-item li {
    line-height: 24px;
}

.animate {
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.article-post-summary {
    padding: 22px 40px;
    gap: 30px;
}

.post-date-box {
    flex-basis: 100px;
}

.post-date-day {
    color: var(--accent-color1);
    font-size: 50px;
    height: 55px;
    margin-top: -12px;
    text-align: right;
}

.post-date-month {
    color: var(--accent-color1);
    text-align: right;
    font-size: 17px;
}

.post-summary-title {
    font-size: 1.15rem;
    font-weight: 500;
}

.post-summary-box {
    flex-basis: fit-content;
}

.post-summary-text {
    line-height: 24px;
    word-break: break-all;
    word-wrap: break-word;
}

.blog-info-desktop-lg {
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}

.card-background-container {
    height: 320px;
    overflow: hidden;
}

.card-bkimg {
    -moz-filter: blur(30px);
    -webkit-filter: blur(30px);
    filter: blur(30px);
    margin-left: -69px;
    margin-top: -57px;
    min-width: 150%;
}

.blogger-head-pic {
    border: 5px solid var(--transparent-light-50);
    height: 120px;
    width: 120px;
}

.blog-info-photo-text {
    padding-top: 40px;
    position: absolute;
    top: 32px;
    width: 100%;
    z-index: 999;
}

.bg-accent1 {
    background-color: var(--accent-color1);
}

.bg-accent2 {
    background-color: var(--accent-color2);
}

.page-link {
    color: var(--accent-color1);
}

.comment-form-containter {
    padding: 20px 38px;
}

    .comment-form-containter .card-subtitle {
        font-size: 1rem;
    }

.dropdown-menu {
    box-shadow: 0 6px 12px var(--transparent-dark-4);
}

.moonglade-logo {
    font-size: 28px;
    line-height: 1px;
    color: var(--bs-white) !important;
}

.input-captcha {
    max-width: 160px;
}

.btn-accent {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--accent-color1);
    --bs-btn-border-color: var(--accent-color1);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--accent-color3);
    --bs-btn-hover-border-color: var(--accent-color3);
    --bs-btn-focus-shadow-rgb: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--accent-color3);
    --bs-btn-active-border-color: var(--accent-color3);
    --bs-btn-active-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--accent-color1);
    --bs-btn-disabled-border-color: var(--accent-color1);
}

.btn-outline-accent {
    --bs-btn-color: var(--accent-color1);
    --bs-btn-border-color: var(--accent-color1);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--accent-color1);
    --bs-btn-hover-border-color: var(--accent-color1);
    --bs-btn-focus-shadow-rgb: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--accent-color1);
    --bs-btn-active-border-color: var(--accent-color1);
    --bs-btn-active-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
    --bs-btn-disabled-color: var(--accent-color3);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--accent-color1);
    --bs-gradient: none;
}

.form-check-input:checked {
    border-color: var(--accent-color1) !important;
    background-color: var(--accent-color1) !important;
}

.lightswitch {
    bottom: 20px;
    position: fixed;
    right: 20px;
    z-index: 996;
}

.font-125rem {
    font-size: 1.25rem;
}

.ul-tags {
    text-align: justify !important;
}

.moonglade-logo-heading {
    margin: 0;
    padding: 0;
    font-size: 9.96px;
}

.navbar-moonglade {
    box-shadow: 0 4px 8px -2px var(--bs-secondary-bg);
    padding: .4rem 1rem;
    background-color: var(--accent-color1);
}

.nav-item {
    margin: 0 1rem 0 0;
}

.animbrand {
    margin-left: -20px;
}

    .animbrand a::after,
    .animbrand a::before {
        -moz-transition: -moz-transform .3s, opacity .2s;
        -webkit-transition: -webkit-transform .3s, opacity .2s;
        color: var(--bs-white);
        display: inline-block;
        font-size: 22px;
        line-height: 16px;
        opacity: 0;
        transition: transform .3s, opacity .2s;
    }

    .animbrand a::before {
        -moz-transform: translateX(50px);
        -webkit-transform: translateX(50px);
        content: '<';
        transform: translateX(50px)
    }

    .animbrand a::after {
        -moz-transform: translateX(-50px);
        -webkit-transform: translateX(-50px);
        content: '>';
        transform: translateX(-50px)
    }

    .animbrand a:focus::after,
    .animbrand a:focus::before,
    .animbrand a:hover::after,
    .animbrand a:hover::before {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        opacity: 0.9;
        transform: translateX(0)
    }

div.animbrand a:focus,
div.animbrand a:hover {
    outline: 0
}

.search-form {
    background: var(--transparent-light-20);
    border-radius: 3px;
    max-width: 300px;
}

.btn-search {
    background: transparent;
    border: 0 none;
    font-size: 1.3rem;
    height: 36px;
    padding: 0 0.6rem;
}

.navbar .dropdown-menu {
    background-color: var(--accent-color1);
    border: 0;
    color: var(--bs-white);
    font-size: 0.9rem;
}

    .navbar .dropdown-menu .dropdown-item {
        color: var(--bs-white);
        line-height: 1.7rem;
    }

.navbar .dropdown-item.active,
.navbar .dropdown-item:hover,
.navbar .dropdown-item:focus {
    background-color: var(--accent-color3);
    color: var(--bs-white);
    text-decoration: none;
}

.navbar-moonglade .navbar-nav .nav-link {
    color: var(--gray-2);
}

    .navbar-moonglade .navbar-nav .nav-link:focus,
    .navbar-moonglade .navbar-nav .nav-link:hover {
        color: var(--bs-white);
    }

.nav-link strong {
    font-weight: 500;
}

.navbar .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.nav-item-non-margin {
    margin: 0 0;
}

.form-control#term {
    border-width: 0;
    box-shadow: none;
    color: var(--bs-white);
    margin-right: 0 !important;
    width: 238px;
}

    .form-control#term::placeholder {
        color: var(--bs-white) !important;
    }

.form-control#search:focus {
    -webkit-box-shadow: none;
    border-color: var(--accent-color1);
    box-shadow: none;
}

.aside-widget {
    background-color: var(--bs-white);
}

.admin-actions {
    position: fixed;
    bottom: 60px;
    right: 20px;
}

.comment-item {
    background-color: var(--bs-white);
}

.lightswitch {
    background-color: var(--bs-white);
}
