.control_wrapper {
    max-width: 400px;
    margin: auto;
}

.address-field {
    max-height: 50px;
    resize: none;
}

#control_wrapper {
    max-width: 500px;
    margin: auto;
    border: 0.5px solid #BEBEBE;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.36);
    padding: 1% 4% 2%;
    /* background: #f9f9f9; */
}

.highcontrast #control_wrapper,
.material-dark #control_wrapper,
.fabric-dark #control_wrapper,
.bootstrap-dark #control_wrapper,
.bootstrap5-dark #control_wrapper {
    background: #393939;
}

.tailwind-dark #control_wrapper {
    background: #6c757d;
}

.fluent-dark #control_wrapper {
    background: #212529;
}

.upload-area, .e-bigger .upload-area {
    width: 73%;
}

.e-error {
    padding-top: 3px;
}

.e-upload {
    width: 100%;
    position: relative;
    margin-top: 15px;
    display: none;
}

.control_wrapper .e-upload .e-upload-drag-hover {
    margin: 0;
}

.submit-btn {
    margin-top: 15px;
    position: relative;
}

.bootstrap .submit-btn {
    margin-left: 8px;
}

.e-bigger.material .submit-btn {
    margin-left: -7px;
}

.fabric .submit-btn, .highcontrast .submit-btn {
    margin-left: -11px;
}

.e-bigger.fabric .submit-btn, .e-bigger.highcontrast .submit-btn {
    margin-left: -25px;
}

.e-bigger.bootstrap .submit-btn {
    margin-left: -8px;
}

.submitBtn .desc {
    margin: 2% 23% 0% 18%;
}

.submitBtn {
    position: relative;
    text-align: center;
}

.form-support {
    width: 100%;
}

.success .form-support {
    display: none;
}

.success .successmsg {
    border: 0.5px solid green;
    padding: 10%;
    color: green;
}

form#form1 {
    position: relative;
    top: 14%;
}

.form-support td {
    width: 100%;
    padding-top: 4%;
}

input.choose-file {
    width: 60%;
}

button#browse {
    float: right;
    margin-right: -113px;
    margin-top: -27px;
}

.bootstrap4 button#browse {
    margin-top: -33px;
}

.e-bigger.fabric button#browse, .e-bigger.highcontrast button#browse, .e-bigger.bootstrap button#browse {
    margin-top: -41px;
    margin-right: -120px;
}

.e-bigger.material button#browse {
    margin-top: -34px;
}

.fabric #browse, .highcontrast #browse {
    margin-top: -33px;
}

.bootstrap #browse {
    margin-top: -35px;
    margin-right: -109px;
}

.form-title {
    text-align: center;
}

#mobile-no input[type=number]::-webkit-inner-spin-button,
#mobile-no input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.e-bigger .e-dialog .e-dlg-header-content {
    padding: 12px 16px;
}

.e-bigger .e-dialog .e-dlg-content {
    padding: 4px 16px 12px;
    margin: 0px;
}
