[data-bs-theme=dark] .page-item.active .page-link {
    background-color: var(--bs-pagination-border-color);
    border-color: var(--bs-pagination-border-color);
}

[data-bs-theme=dark] .article-post-summary {
    background-color: transparent !important;
}

[data-bs-theme=dark] .post-date-day,
[data-bs-theme=dark] .post-date-month {
    color: var(--bs-secondary-color);
}

[data-bs-theme=dark] .post-summary-text {
    color: var(--bs-body-color);
}

[data-bs-theme=dark] .post-summary-title a {
    color: var(--bs-white);
}

[data-bs-theme=dark] .navbar .dropdown-menu {
    background-color: var(--bs-body-bg);
}

[data-bs-theme=dark] .navbar .dropdown-item.active,
[data-bs-theme=dark] .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

