body[data-bs-theme=dark] {
    background-color: var(--moca-dark);
}

[data-bs-theme=dark] a {
    color: var(--bs-secondary-color);
}

[data-bs-theme=dark] .article-post-slug {
    background-color: transparent !important;
    padding: 0;
}

[data-bs-theme=dark] .comment-form-containter {
    background-color: transparent !important;
}

.darkmode .post-content blockquote,
.darkmode .post-content .blockquote {
    border-left: 5px solid var(--gray-6);
    color: var(--gray-4);
}

[data-bs-theme=dark] .page-item.active .page-link {
    background-color: var(--bs-pagination-border-color);
    border-color: var(--bs-pagination-border-color);
}

[data-bs-theme=dark] .timeline-heading {
    border-bottom: 1px solid var(--gray-5);
}

[data-bs-theme=dark] .timeline:before {
    background-color: var(--gray-5);
}

[data-bs-theme=dark] .timeline > li > .timeline-panel {
    border: 1px solid var(--gray-5);
    background-color: transparent !important;
}

    [data-bs-theme=dark] .timeline > li > .timeline-panel:before {
        border-left: 15px solid var(--gray-5);
        border-right: 0 solid var(--gray-5);
    }

    [data-bs-theme=dark] .timeline > li > .timeline-panel:after {
        border-left: 14px solid var(--gray-5);
        border-right: 0 solid var(--gray-5);
    }

[data-bs-theme=dark] .timeline-body a {
    color: var(--gray-3);
}

[data-bs-theme=dark] .timeline-title a {
    color: var(--bs-white);
}

[data-bs-theme=dark] .timeline > li > .timeline-badge {
    background-color: var(--gray-7);
    border: 3px solid var(--gray-5);
}

[data-bs-theme=dark] .article-post-summary {
    background-color: transparent !important;
}

[data-bs-theme=dark] .post-date-day,
[data-bs-theme=dark] .post-date-month {
    color: var(--bs-secondary-color);
}

[data-bs-theme=dark] .post-summary-text {
    color: var(--bs-body-color);
}

[data-bs-theme=dark] .post-summary-title a {
    color: var(--bs-white);
}

[data-bs-theme=dark] .navbar .dropdown-menu {
    background-color: var(--bs-body-bg);
}

[data-bs-theme=dark] .navbar .dropdown-item.active,
[data-bs-theme=dark] .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

[data-bs-theme=dark] math {
    background-color: #2e2e2e;
    border: 1px solid #454545;
    color: #e3e3e3;
}
