[data-bs-theme=dark] body {
    background-color: var(--bs-secondary-bg-subtle);
}

[data-bs-theme=dark] .navbar-moonglade {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    box-shadow: 0 4px 8px -2px #000;
}

[data-bs-theme=dark] .moonglade-footer {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

[data-bs-theme=dark] a {
    color: var(--bs-secondary-color);
}

[data-bs-theme=dark] .article-post-slug {
    background-color: transparent !important;
    padding: 0;
    border: 0 none !important;
}

[data-bs-theme=dark] .comment-form-containter {
    background-color: transparent !important;
}

[data-bs-theme=dark] .post-content blockquote,
[data-bs-theme=dark] .post-content .blockquote {
    border-left: 5px solid var(--bs-border-color);
    color: var(--bs-secondary-color);
}

[data-bs-theme=dark] .page-item.active .page-link {
    background-color: var(--bs-pagination-border-color);
    border-color: var(--bs-pagination-border-color);
}

[data-bs-theme=dark] .timeline-heading {
    border-bottom: 1px solid var(--bs-border-color);
}

[data-bs-theme=dark] .timeline:before {
    background-color: var(--bs-border-color);
}

[data-bs-theme=dark] .timeline > li > .timeline-panel {
    border: 1px solid var(--bs-border-color);
    background-color: transparent !important;
}

    [data-bs-theme=dark] .timeline > li > .timeline-panel:before {
        border-left: 15px solid var(--bs-border-color);
        border-right: 0 solid var(--bs-border-color);
    }

    [data-bs-theme=dark] .timeline > li > .timeline-panel:after {
        border-left: 14px solid var(--bs-border-color);
        border-right: 0 solid var(--bs-border-color);
    }

[data-bs-theme=dark] .timeline-body a {
    color: var(--bs-secondary-color);
}

[data-bs-theme=dark] .timeline-title a {
    color: var(--bs-white);
}

[data-bs-theme=dark] .timeline > li > .timeline-badge {
    background-color: var(--bs-secondary-bg-subtle);
    border: 3px solid var(--bs-border-color);
}

[data-bs-theme=dark] .article-post-summary {
    background-color: transparent !important;
}

[data-bs-theme=dark] .post-date-day,
[data-bs-theme=dark] .post-date-month {
    color: var(--bs-secondary-color);
}

[data-bs-theme=dark] .post-summary-text {
    color: var(--bs-body-color);
}

[data-bs-theme=dark] .post-summary-title a {
    color: var(--bs-white);
}

[data-bs-theme=dark] .navbar .dropdown-menu {
    background-color: var(--bs-body-bg);
}

[data-bs-theme=dark] .navbar .dropdown-item.active,
[data-bs-theme=dark] .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

[data-bs-theme=dark] math {
    background-color: #2e2e2e;
    border: 1px solid #454545;
    color: #e3e3e3;
}

[data-bs-theme=dark] .aside-widget {
    background-color: transparent;
}

[data-bs-theme=dark] .comment-item {
    background-color: var(--bs-body-bg);
}

[data-bs-theme=dark] .btn-accent {
    --bs-btn-color: #fff;
    --bs-btn-bg: #212529;
    --bs-btn-border-color: #212529;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #424649;
    --bs-btn-hover-border-color: #373b3e;
    --bs-btn-focus-shadow-rgb: 66, 70, 73;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4d5154;
    --bs-btn-active-border-color: #373b3e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #212529;
    --bs-btn-disabled-border-color: #212529;
}

[data-bs-theme=dark] .btn-outline-accent {
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-border-color: var(--bs-border-color);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #343a40;
    --bs-btn-hover-border-color: #212529;
    --bs-btn-focus-shadow-rgb: 33, 37, 41;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #212529;
    --bs-btn-active-border-color: #212529;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #212529;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #212529;
    --bs-gradient: none;
}

[data-bs-theme=dark] .lightswitch {
    background-color: transparent;
}
