.hr-dark {
    border-top: 1px solid var(--transparent-light-15) !important;
}

.bg-moca-dark {
    background-color: var(--moca-dark);
}

    .bg-moca-dark .list-group-item-action:focus,
    .bg-moca-dark .list-group-item-action:hover {
        background-color: var(--moca-dark-1) !important;
    }

[data-bs-theme=dark] a {
    color: var(--gray-3);
}

[data-bs-theme=dark] .article-post-slug {
    background-color: transparent !important;
    padding: 0;
}

[data-bs-theme=dark] .comment-form-containter {
    background-color: transparent !important;
}

.darkmode .post-content blockquote,
.darkmode .post-content .blockquote {
    border-left: 5px solid var(--gray-6);
    color: var(--gray-4);
}

.darkmode .list-group-item.active,
.darkmode .page-item.active .page-link {
    background-color: var(--gray-7);
    border-color: var(--gray-7);
}

[data-bs-theme=dark] .timeline-heading {
    border-bottom: 1px solid var(--gray-5);
}

[data-bs-theme=dark] .timeline:before {
    background-color: var(--gray-5);
}

[data-bs-theme=dark] .timeline > li > .timeline-panel {
    border: 1px solid var(--gray-5);
    background-color: transparent !important;
}

    [data-bs-theme=dark] .timeline > li > .timeline-panel:before {
        border-left: 15px solid var(--gray-5);
        border-right: 0 solid var(--gray-5);
    }

    [data-bs-theme=dark] .timeline > li > .timeline-panel:after {
        border-left: 14px solid var(--gray-5);
        border-right: 0 solid var(--gray-5);
    }

[data-bs-theme=dark] .timeline-body a {
    color: var(--gray-3);
}

[data-bs-theme=dark] .timeline-title a {
    color: var(--bs-white);
}

[data-bs-theme=dark] .timeline > li > .timeline-badge {
    background-color: var(--gray-7);
    border: 3px solid var(--gray-5);
}

.darkmode .article-post-summary {
    background-color: transparent !important;
    border-color: var(--gray-7) !important;
}

    .darkmode .article-post-summary .post-date-box {
        border-color: var(--gray-7) !important;
    }

.darkmode .post-date-day {
    color: var(--gray-5);
}

.darkmode .post-date-month {
    color: var(--gray-5);
}

.darkmode .post-summary-text {
    color: var(--gray-3);
}

.darkmode .post-summary-title a {
    color: var(--bs-white);
}

.darkmode .navbar .dropdown-menu {
    background-color: var(--moca-dark-2);
}

.darkmode .navbar .dropdown-item.active,
.darkmode .dropdown-item:hover {
    background-color: var(--gray-7);
    color: var(--bs-white);
    text-decoration: none;
}

.darkmode .toptags-list a {
    background-color: var(--gray-7);
}

.darkmode .form-control {
    border: 1px solid var(--gray-7);
    color: var(--gray-3);
}

.darkmode .modal-content {
    color: var(--gray-3);
    background-color: var(--moca-dark-1);
}

.darkmode .close {
    color: var(--gray-3);
}

[data-bs-theme=dark] math {
    background-color: #2e2e2e;
    border: 1px solid #454545;
    color: #e3e3e3;
}

@media (max-width: 767px) {
    .darkmode .article-post-summary {
        border-bottom: 1px solid var(--gray-7);
    }
}
