/*
 * bootstrap-tagsinput v0.8.0
 * 
 */

.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 22px;
  cursor: text;
}
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0 6px;
  margin: 0;
  width: auto;
  max-width: inherit;
}
.bootstrap-tagsinput.form-control input::-moz-placeholder {
  color: #777;
  opacity: 1;
}
.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}
.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: white;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/*
 * bootstrap-tagsinput v0.8.0
 * 
 */

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}

.twitter-typeahead .tt-hint
{
    display: none;
}

.tt-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    cursor: pointer;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}

.tt-suggestion:hover,
.tt-suggestion:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #428bca;
}

.field-validation-error {
    color: var(--danger);
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid var(--danger);
}

.validation-summary-valid {
    display: none;
}

.validation-summary-errors {
    color: var(--danger);
    font-weight: bold;
}

.admin-body {
    padding-top: 0;
}

.admin-body-wrapper {
    overflow-x: hidden;
}

.admin-nav {
    background-color: var(--accent-color2);
    width: 260px;
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

.admin-main {
    overflow-y: scroll;
    min-width: 100vw;
}

@media (min-width: 768px) {
    .admin-nav {
        margin-left: 0;
    }

    .admin-main {
        min-width: 0;
        width: 100%;
    }

    .admin-body-wrapper.toggled .admin-nav {
        margin-left: -15rem;
    }
}


.textarea-code {
    font-family: 'Consolas';
    font-size: 12px;
}

hr.admin-nav-divider {
    border-top: 1px solid var(--transparent-white-30);
    margin: 0 20px;
}

.post-content-textarea {
    min-height: 650px;
}

.post-edit-form .CodeMirror {
    height: 620px;
}

.admin-nav-section .list-group-item {
    background-color: transparent;
    border: 0 none;
    color: var(--transparent-white-50);
}

    .admin-nav-section .list-group-item.active,
    .admin-nav-section .list-group-item:hover {
        background-color: var(--accent-color1);
        color: var(--white);
    }

.admin-nav-link:active {
    color: var(--white);
}

.admin-main .validation-summary-errors ul {
    margin-bottom: 0;
}

.admin-main .catlist ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    .admin-main .catlist ul li {
        display: inline-block;
        width: 175px;
    }

        .admin-main .catlist ul li label {
            display: inline-block;
            font-weight: normal;
            padding-left: 6px;
            vertical-align: middle;
        }

div.mce-fullscreen {
    z-index: 1050;
}

.empty-recycle {
    height: 208px;
    margin: 0 auto;
    padding-top: 52px;
    width: 208px;
}

.ul-tag-mgr {
    line-height: 28px;
    text-align: justify;
}

    .ul-tag-mgr li {
        display: inline-block;
        height: 33px;
        line-height: 33px;
        margin-bottom: 10px;
        vertical-align: top;
    }

        .ul-tag-mgr li.updated {
            border: 1px solid var(--green);
        }

        .ul-tag-mgr li span {
            display: inline-block;
            padding: 0 10px;
            vertical-align: top;
        }

        .ul-tag-mgr li a {
            background-color: var(--gray-6);
            color: var(--gray-3);
            cursor: pointer;
            display: inline-block;
            font-size: 16px;
            height: 31px;
            padding: 0 5px;
        }

            .ul-tag-mgr li a:hover {
                background-color: var(--red);
                color: var(--white);
            }

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0;
    position: relative;
    width: 40px;
}

    .material-switch > label::before {
        background: rgb(0, 0, 0);
        content: '';
        height: 16px;
        margin-top: -8px;
        opacity: 0.3;
        position: absolute;
        transition: all 0.4s ease-in-out;
        width: 40px;
    }

    .material-switch > label::after {
        background: var(--gray-6);
        content: '';
        height: 24px;
        left: -4px;
        margin-top: -8px;
        position: absolute;
        top: -4px;
        transition: all 0.3s ease-in-out;
        width: 15px;
    }

.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 25px;
}

.table .table-item-w10 {
    width: 10%;
}

.table .table-item-w20 {
    width: 20%;
}

.table .table-item-w30 {
    width: 30%;
}

.table .table-item-w40 {
    width: 40%;
}

.table .table-item-w50 {
    width: 50%;
}

.table .table-item-w60 {
    width: 60%;
}

.table .table-item-w70 {
    width: 70%;
}

.table .table-item-w80 {
    width: 80%;
}

.table .table-item-w85 {
    width: 85%;
}

.table .table-item-w90 {
    width: 90%;
}

.table .table-item-w100 {
    width: 100%;
}

.bootstrap-tagsinput {
    display: inherit;
    box-shadow: inherit;
}

    .bootstrap-tagsinput .tag {
        background: var(--accent-color1);
        padding: 2px 5px;
    }

        .bootstrap-tagsinput .tag [data-role="remove"]:hover {
            box-shadow: inherit;
        }
