.featured-post-banner {
    top: 0;
    right: 0;
    width: 50px;
}

#extlink-url {
    color: var(--accent-color1);
}

#img-captcha {
    cursor: pointer;
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 3px 0 0 3px;
}

#imgzoom {
    height: max-content;
    margin: 0 auto;
    width: max-content;
}

.ul-cat-list-desktop a.btn {
    margin-right: 10px;
}

.modal-imgzoom {
    display: table;
}

.badge.post-hit-number {
    font-size: 100%;
}

h1.post-title,
.post-content h1 {
    font-size: 1.55rem;
}

.post-content h2 {
    font-size: 1.35rem;
}

.post-content h3 {
    font-size: 1.25rem;
}

.post-content h4 {
    font-size: 1.15rem;
}

.post-content p {
    font-size: 0.95rem;
    line-height: 1.6rem;
    margin-bottom: 15px;
    word-wrap: break-word;
}

.post-content img {
    cursor: pointer;
    min-height: 4px;
    min-width: 4px;
}

.post-header-hr {
    margin-bottom: 5px;
}

.post-publish-info {
    font-size: 0.75rem;
}

.post-slug-actions {
    font-size: 1rem;
}

.post-content a {
    border-bottom: 1px dashed var(--accent-color1);
}

.post-content blockquote,
.post-content .blockquote {
    border-left: 5px solid var(--gray-2);
    color: var(--gray-6);
    margin: 0 0 20px;
    padding: 10px 20px;
}

    .post-content blockquote p:last-child,
    .post-content blockquote ul:last-child,
    .post-content blockquote ol:last-child {
        margin-bottom: 0;
    }

    .post-content blockquote footer,
    .post-content blockquote small,
    .post-content blockquote .small {
        color: var(--gray-4);
        display: block;
        font-size: 80%;
        line-height: 1.42857143;
    }

.comment-list .thumbnail {
    padding: 0;
}

.comment-list .card {
    position: relative;
}

    .comment-list .card > .card-header:after,
    .comment-list .card > .card-header:before {
        border-color: transparent;
        border-style: solid solid outset;
        content: " ";
        display: block;
        height: 0;
        left: -16px;
        pointer-events: none;
        position: absolute;
        right: 100%;
        top: 11px;
        width: 0;
    }

    .comment-list .card > .card-header:after {
        border-right-color: rgba(0, 0, 0, .03);
        border-width: 7px;
        margin-left: 2px;
        margin-top: 1px;
    }

    .comment-list .card > .card-header:before {
        border-right-color: var(--transparent-dark-2);
        border-width: 8px;
    }

pre,
code {
    font-family: "Cascadia Code", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.dynamic-heading-tag {
    display: block;
    position: relative;
    top: -65px;
    visibility: hidden;
}

@media (max-width: 767px) {
    h1 .post-title, .post-content h1 {
        font-size: 1.4rem;
    }

    .post-content h2 {
        font-size: 1.3rem;
    }
}
