@media (max-width: 1400px) {
    .article-post-summary {
        padding: 22px 30px;
    }
}

@media (max-width: 767px) {

    .article-post-slug {
        padding: 8px !important;
        box-shadow: none !important;
        border: none !important;
    }

    .post-content img {
        cursor: inherit;
    }

    .post-publish-info {
        margin-bottom: 5px;
    }

    .profile-mobile {
        position: relative;
    }

    .card-background-container {
        height: 105px !important;
    }

    .card-bkimg {
        margin-left: -63px !important;
        margin-top: -124px !important;
        min-width: 141% !important;
    }

    .blogger-head-pic {
        height: 65px !important;
        width: 65px !important;
    }

    .blogger-intro-content {
        color: var(--bs-white);
        padding: 15px;
        position: absolute;
        top: 0;
        width: 100%;

        h4 {
            background-color: var(--transparent-light-20);
            border-radius: 5px;
            color: var(--bs-white);
            font-size: 1rem;
            padding: 5px;
            text-shadow: 2px 0 2px #000;
        }
    }

    .navbar .nav-item {
        margin: 0 !important;
    }

    .navbar .dropdown-menu {
        box-shadow: none;
        font-size: 1rem;
    }

    .pagination {
        margin: 10px 0;
    }

    .post-summary-text {
        line-height: 22px;
    }

    .post-summary-box {
        margin-left: 0 !important;
    }

    .article-post-summary {
        padding-bottom: 15px;
    }

    .lightswitch {
        bottom: 100px;
        right: 10px;
    }
}
