.timeline-box {
    position: relative;
}

.img-timeline {
    position: absolute;
}

.timeline-heading {
    border-bottom: 1px solid var(--gray-2);
    margin-bottom: 10px;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        background-color: var(--gray-2);
        bottom: 0;
        content: " ";
        left: 50%;
        margin-left: -1.5px;
        position: absolute;
        top: 0;
        width: 3px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            border: 1px solid var(--gray-3);
            border-radius: var(--bs-border-radius-lg);
            float: left;
            padding: 20px;
            position: relative;
            width: 46%;
        }

            .timeline > li > .timeline-panel:before {
                border-bottom: 15px solid transparent;
                border-left: 15px solid var(--gray-3);
                border-right: 0 solid var(--gray-3);
                border-top: 15px solid transparent;
                content: " ";
                display: inline-block;
                position: absolute;
                right: -15px;
                top: 26px;
            }

            .timeline > li > .timeline-panel:after {
                border-bottom: 14px solid transparent;
                border-left: 14px solid var(--bs-white);
                border-right: 0 solid var(--bs-white);
                border-top: 14px solid transparent;
                content: " ";
                display: inline-block;
                position: absolute;
                right: -14px;
                top: 27px;
            }

        .timeline > li > .timeline-badge {
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
            font-size: 1.4em;
            height: 35px;
            left: 50%;
            margin-left: -17px;
            position: absolute;
            text-align: center;
            top: 24px;
            width: 35px;
            z-index: 100;
            border: 3px solid var(--accent-color3);
            background-color: var(--bs-white);
            color: var(--accent-color1);
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    .img-timeline {
        display: none;
    }

    ul.timeline:before {
        left: 22px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 65px);
        width: -moz-calc(100% - 65px);
        width: -webkit-calc(100% - 65px);
    }

    ul.timeline > li > .timeline-badge {
        height: 45px;
        left: 0;
        line-height: 45px;
        margin-left: 0;
        top: 16px;
        width: 45px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}
