@model IEnumerable<KeyValuePair<string, string>>

@foreach (var (key, value) in Model.OrderBy(c => c.Key))
{
    <div class="col-6">
        <a asp-controller="Subscription" asp-action="Rss" asp-route-routeName="@value"
           title="@key" class="d-block mb-2">
            <i class="bi-rss"></i>
            @key
        </a>
    </div>
}