@model SubscriptionViewModel

@foreach (var (key, value) in Model.Cats.OrderBy(c => c.Key))
{
    <div class="col-6">
        <a asp-controller="Subscription" asp-action="Rss" asp-route-routeName="@value"
           title="@key" class="d-block mb-2">
            <span class="icon-rss"></span>
            @key
        </a>
    </div>
}