@{
    ViewBag.TitlePrefix = "Privacy Policy";
    ViewBag.HideSideBar = true;
}

<div class="container mt-3 mb-5">
    <h3>Privacy Policy</h3>
    <hr />

    <div class="well well-sm">
        This privacy policy has been compiled to better serve those who are concerned with how their 'Personally Identifiable Information' (PII) is being used online. PII, as described in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.
    </div>

    <strong>
        What personal information do we collect from the people that visit our blog, website or app?
    </strong>
    <p>
        When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address or other details to help you with your experience.
    </p>

    <strong>
        When do we collect information?
    </strong>
    <p>
        We collect information from you when you register on our site, fill out a form or enter information on our site.
    </p>


    <strong>
        How do we use your information?
    </strong>

    <p>
        We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:
        <ul>
            <li>
                To follow up with them after correspondence (live chat, email or phone inquiries)
            </li>
        </ul>
    </p>

    <strong>
        How do we protect your information?
    </strong>

    <p>
        <ul>
            <li>
                We do not use vulnerability scanning and/or scanning to PCI standards.
            </li>
            <li>
                We only provide articles and information. We never ask for credit card numbers.
            </li>
            <li>
                We use regular Malware Scanning.
            </li>
            <li>
                We do not use an SSL certificate
                <ul>
                    <li>
                        We do not need an SSL because:
                        <div>We only need nick names and valid email address to reply to user comments. We don't collect or use any personal information.</div>
                    </li>
                </ul>
            </li>
        </ul>
    </p>

    <strong>
        Do we use 'cookies'?
    </strong>
    <p>
        Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember and process the items in your shopping cart. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.
    </p>

    <strong>We use cookies to:</strong>
    <ul>
        <li>Understand and save user's preferences for future visits.</li>
    </ul>
    <p>
        You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Since browser is a little different, look at your browser's Help Menu to learn the correct way to modify your cookies.
    </p>

    <strong>
        If users disable cookies in their browser:
    </strong>

    <p>
        If you turn cookies off, Some of the features that make your site experience more efficient may not function properly.Some of the features that make your site experience more efficient and may not function properly.
    </p>

    <strong>Third-party disclosure</strong>
    <p>
        We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information.
    </p>


    <strong>
        Third-party links
    </strong>
    <p>
        We do not include or offer third-party products or services on our website.
    </p>

    <strong>
        You will be notified of any Privacy Policy changes:
    </strong>
    <ul>
        <li>
            On our Privacy Policy Page
        </li>
    </ul>

    <strong>
        How does our site handle Do Not Track signals?
    </strong>
    <p>
        We honor Do Not Track signals and Do Not Track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place.
    </p>

    <strong>
        Does our site allow third-party behavioral tracking?
    </strong>
    <p>
        It's also important to note that we allow third-party behavioral tracking
    </p>

    <strong>
        Fair Information Practices
    </strong>
    <p>
        The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.
    </p>
    <p>
        In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur: <br />
        We will notify you via email within 7 business days.
    </p>
    <p>
        We also agree to the Individual Redress Principle which requires that individuals have the right to legally pursue enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or government agencies to investigate and/or prosecute non-compliance by data processors.
    </p>

    <strong>
        CAN SPAM Act
    </strong>
    <p>
        The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.
    </p>

    <strong>
        We collect your email address in order to:
    </strong>
    <ul>
        <li>
            Send information, respond to inquiries, and/or other requests or questions
        </li>
    </ul>

    <strong>
        To be in accordance with CANSPAM, we agree to the following:
    </strong>
    <ul>
        <li>Not use false or misleading subjects or email addresses.</li>
        <li>Identify the message as an advertisement in some reasonable way.</li>
        <li>Include the physical address of our business or site headquarters.</li>
        <li>Monitor third-party email marketing services for compliance, if one is used.</li>
        <li>Honor opt-out/unsubscribe requests quickly.</li>
        <li>Allow users to unsubscribe by using the link at the bottom of each email.</li>
    </ul>

    <strong>
        If at any time you would like to unsubscribe from receiving future emails, you can email us at:
    </strong>
    <ul>
        <li>Follow the instructions at the bottom of each email.</li>
    </ul>
    <p>
        and we will promptly remove you from ALL correspondence.
    </p>

    <strong>Contacting Us</strong>
    <p>
        If there are any questions regarding this privacy policy, you may contact us using the information below.
    </p>

    <p>
        edi.wang
    </p>
    <small>
        Last Edited on 2017-06-20
    </small>
</div>