@{
    var currentPage = ViewContext.RouteData.Values["page"]?.ToString();
}

<div class="admin-toolbar ps-4 pe-4 pt-2 pb-2 border-bottom mb-3 shadow-sm d-flex">
    <ul class="nav nav-pills">
        <li role="presentation" class="nav-item nav-item-non-margin">
            <a class="nav-link @(currentPage == "/Admin/About" ? "active" : null)" asp-page="./About">@Localizer["About"]</a>
        </li>
    </ul>
</div>