@model Moonglade.Web.Pages.Admin.EditPostModel

<div class="modal fade" id="schedulePublishModal" tabindex="-1" role="dialog" aria-labelledby="schedulePublishModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="schedulePublishModalLabel">@SharedLocalizer["Schedule Publish Time"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="mb-2">
                    @SharedLocalizer["Set a time in your local time zone to schedule the post to be automatically published."]
                </div>
                <div class="mb-2">
                    <input type="datetime-local" asp-for="ViewModel.ScheduledPublishTime" class="form-control" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">@SharedLocalizer["Cancel"]</button>
                <a id="btn-schedule-publish" class="schedule-post-confirm btn btn-accent">@SharedLocalizer["Confirm"]</a>
            </div>
        </div>
    </div>
</div>