.page-editor-container {
    height: 100%;
    overflow: hidden;
    min-height: 0;
}

#page-edit-form {
    min-height: 0;
}

.page-editor-header {
    flex-shrink: 0;
}

.page-editor-tabs {
    flex-shrink: 0;
}

.page-editor-footer {
    flex-shrink: 0;
}

.tab-content {
    min-height: 0;
}

.monaco-target {
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    height: 100%;
}
