@page "/admin/page/preview/{pageId:guid}"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Moonglade.Data.Entities
@using Moonglade.Features.Page

@{
    Layout = "_Layout";
    ViewBag.TitlePrefix = BlogPage.Title;
    ViewBag.HideSideBar = BlogPage.HideSidebar;
    ViewBag.MetaDescription = BlogPage.MetaDescription;
}

@section head {
    @if (!string.IsNullOrWhiteSpace(BlogPage.CssId))
    {
        <link href="~/content.css?id=@BlogPage.CssId" rel="stylesheet" asp-append-version="true" />
    }
}

<div class="container mt-3 mb-4">
    <div class="alert alert-info">
        @SharedLocalizer["This is a preview for draft content."]
    </div>
</div>

<div class="page-content">
    @Html.Raw(BlogPage.HtmlContent)
</div>

<partial name="_PageForestageAdmin" />

@functions
{
    public PageEntity BlogPage { get; set; }

    public async Task<IActionResult> OnGetAsync(Guid pageId)
    {
        var page = await QueryMediator.QueryAsync(new GetPageByIdQuery(pageId));
        if (page is null) return NotFound();

        BlogPage = page;
        return Page();
    }
}
