@model IReadOnlyList<Moonglade.Core.CategoryFeature.Category>

@if (Model.Count > 0)
{
    <ul class="dropdown-menu category-menu">
        @foreach (var item in Model.OrderBy(c => c.DisplayName))
        {
            <li>
                <a class="dropdown-item" asp-page="/CategoryList" asp-route-routeName="@item.RouteName.ToLower()" title="@item.Note">
                    <i class="bi-folder2 me-1"></i>
                    @item.DisplayName
                </a>
            </li>
        }
    </ul>
}
